workflows/Best Self Review Summary Analyzer.json
{"createdAt":"2024-11-21T04:43:23.580Z","updatedAt":"2024-11-26T19:02:24.000Z","id":"0Q2rIg92kKu4EkKf","name":"Best Self Review Summary Analyzer","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"8b8196ea-805f-473c-a833-5a6d2a4f9382","name":"When clicking ‘Test workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1LVBKto0fdqA45VyDqZhJVR9HEhtrOnmR5_lYZP6TVL8","mode":"list","cachedResultName":"Best Self Product Review Analysis","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1LVBKto0fdqA45VyDqZhJVR9HEhtrOnmR5_lYZP6TVL8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1872596303,"mode":"list","cachedResultName":"reviews","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1LVBKto0fdqA45VyDqZhJVR9HEhtrOnmR5_lYZP6TVL8/edit#gid=1872596303"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[220,0],"id":"4d506dc6-79fd-4936-aec4-f7068476e628","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"LaLXUAplY7dw461Q","name":"Google Sheets account"}}},{"parameters":{"options":{"summarizationMethodAndPrompts":{"values":{"combineMapPrompt":"Analyze and summarize the product reviews to identify key complaints in negative reviews and key positive traits of the product, fulfillment, and packaging for positive reviews.\n\n\n\"{text}\"\n\n\nCONCISE SUMMARY:","prompt":"Analyze and summarize the product reviews to identify key complaints in negative reviews and key positive traits of the product, fulfillment, and packaging for positive reviews.\n\n\n\"{text}\"\n\n\nCONCISE SUMMARY:"}}}},"type":"@n8n/n8n-nodes-langchain.chainSummarization","typeVersion":2,"position":[900,0],"id":"94ec22ad-f283-4b9d-b7e3-6af99fc89244","name":"Summarization Chain"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[920,220],"id":"4eb7efd2-5bf9-484c-8dd1-9c45a099be5d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"fuvsuu6zEMb7LJmO","name":"OpenAi account"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst combinedBody = items.map((item) => item?.json?.body).join(\"\\n\");\n\nreturn { combinedBody };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[660,0],"id":"14ca14c7-3f54-42b4-8463-42d55be48c9d","name":"Code","notesInFlow":true,"notes":"Combine all reviews."},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C082HU8JKLL","mode":"list","cachedResultName":"best-self"},"text":"=Completed product review summarization for {{ $('Filter').all().length}} reviews in the last 12 months.\n\n{{ $json.response.text.replace(/\\*\\*/g, '*') }}","otherOptions":{"mrkdwn":true}},"type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[1260,0],"id":"45620cca-6f79-47ef-b116-2b041e1a5bdc","name":"Slack","webhookId":"56217956-c518-4dbb-b828-7f9e4c837c31","credentials":{"slackApi":{"id":"jDu3BYKRFMML8nom","name":"Slack account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"79ccd3b3-f325-49b1-bdf7-c33a46e42ade","leftValue":"={{ $json.created_at }}","rightValue":"={{ $now.minus({ months: 12 }) }}","operator":{"type":"dateTime","operation":"afterOrEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[440,0],"id":"0a59ae04-9171-45c6-be27-b59dc5b12b57","name":"Filter"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Filter","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Summarization Chain","type":"ai_languageModel","index":0}]]},"Code":{"main":[[{"node":"Summarization Chain","type":"main","index":0}]]},"Summarization Chain":{"main":[[{"node":"Slack","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"12acc35d-a5aa-4009-a358-98a27caf9242","triggerCount":0,"tags":[{"createdAt":"2024-11-25T19:23:12.305Z","updatedAt":"2024-11-25T19:23:12.305Z","id":"ezNoiUnmEtRIw4er","name":"best-self"}]}