workflows/Calendar Agent (Tool).json
{"createdAt":"2024-11-26T19:03:11.291Z","updatedAt":"2024-12-06T23:10:32.000Z","id":"ADWHW6pAvGWuPUsW","name":"Calendar Agent (Tool)","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[0,-20],"id":"7679d2fb-8470-4852-9614-d36f459fb319","name":"Execute Workflow Trigger"},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=You are a helpful calendar assistant that uses tools to create events, create events with attendees, and get events.\n\nToday is {{ $now }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[220,-20],"id":"6fdd199c-6dc4-437e-a5be-7d53a7dcf56b","name":"AI Agent","onError":"continueErrorOutput"},{"parameters":{"model":"gpt-4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[140,240],"id":"b0798eac-98ef-422b-ac28-74e5697ef13c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"fuvsuu6zEMb7LJmO","name":"OpenAi account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"ericbragas412@gmail.com","mode":"list","cachedResultName":"Main"},"options":{"timeMin":"={{ $fromAI(\"after_time\", \"The time the user requests to look for events after, aka. minimum event start time\", string) }}","timeMax":"={{ $fromAI(\"before_time\", \"The time the user requests to look for events before, aka. maximum event start time\", string, '') }}","query":"={{ $fromAI('event_query', 'Query string for filtering events as described by the user', string, '') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[700,340],"id":"81cd0d5b-a7bf-44c3-9e9b-e6ae3b902db7","name":"Get Many Events","credentials":{"googleCalendarOAuth2Api":{"id":"J3zxG5nA7YYOLleG","name":"Google Calendar account"}}},{"parameters":{"calendar":{"__rl":true,"value":"ericbragas412@gmail.com","mode":"list","cachedResultName":"Main"},"start":"={{ $fromAI('start_time', 'The time the user asks the event to start') }}","end":"={{ $fromAI('end_time', 'The time the user asks the event to end') }}","additionalFields":{"summary":"={{ $fromAI('event_title', 'The title of the event to be scheduled') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[580,340],"id":"9a11ff8c-091b-4db4-a9c7-1970d2bab194","name":"Create Event","credentials":{"googleCalendarOAuth2Api":{"id":"J3zxG5nA7YYOLleG","name":"Google Calendar account"}}},{"parameters":{"calendar":{"__rl":true,"value":"ericbragas412@gmail.com","mode":"list","cachedResultName":"Main"},"start":"={{ $fromAI('start_time', 'The time the user asks the event to start') }}","end":"={{ $fromAI('end_time', 'The time the user asks the event to end') }}","additionalFields":{"attendees":["={{ $fromAI('attendees', 'The person/people the user asks the event to be scheduled with.') }}"],"summary":"={{ $fromAI('event_title', 'The title of the event to be scheduled') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[460,340],"id":"5ebb011a-1578-4a9d-a931-824da63b460b","name":"Create Event with Attendees","notesInFlow":true,"credentials":{"googleCalendarOAuth2Api":{"id":"J3zxG5nA7YYOLleG","name":"Google Calendar account"}},"notes":"Can create event and create event with attendees be combined my making attendees default to none?"},{"parameters":{"assignments":{"assignments":[{"id":"4b369428-a9eb-418b-8a27-c7bc7788f8aa","name":"response","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,-100],"id":"0d9a141d-f082-40ac-83a8-6a18f51d7540","name":"Success"},{"parameters":{"assignments":{"assignments":[{"id":"3a12492f-9804-4d5a-963a-eea192637294","name":"response","value":"There was an error, please try again.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,40],"id":"151057bb-d75d-4b5b-9d8c-ffc3eeb8ad4e","name":"Try Again"},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"ericbragas412@gmail.com","mode":"list","cachedResultName":"Main"},"eventId":"={{ $fromAI('event_id', 'ID for an event to be updated. Get the ID by getting events first.') }}","updateFields":{"description":"={{ $fromAI('description', 'Description of the event described by the user', string) }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[340,360],"id":"700de45f-8377-41fd-a29a-c42ff5776add","name":"Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"J3zxG5nA7YYOLleG","name":"Google Calendar account"}}}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get Many Events":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Create Event":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Create Event with Attendees":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Success","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]},"Google Calendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Execute Workflow Trigger":[{"json":{"query":"What events do I have scheduled for today?"}}]},"versionId":"92d83493-f81b-4178-9a4e-b27724a205bf","triggerCount":0,"tags":[]}