workflows/Email Management.json
{"createdAt":"2024-12-16T02:47:22.405Z","updatedAt":"2024-12-18T19:41:37.000Z","id":"gH9rPKIN09vn4L9n","name":"Email Management","active":true,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"q":"-label:non_expense -label:expense/business -label:expense/personal "},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-40,0],"id":"205a0264-4a56-472f-a596-ac7937ee11cc","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"GEBgao5vu7viLpFn","name":"Gmail account"}},"disabled":true},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[260,200],"id":"ede3d8cb-70ec-4aa9-9eaa-841910a07d2b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"fuvsuu6zEMb7LJmO","name":"OpenAi account"}}},{"parameters":{"inputText":"=<email>\n<from>{{ $json.from.text }}</from>\n<subject>{{ $json.subject }}</subject>\n<body_text>\n{{ $json.text }}\n</body_text>\n</email>","categories":{"categories":[{"category":"business_expense","description":"Emails which constitute a potential business expense with 50% or greater confidence. See reference on what constitutes a business expense."},{"category":"personal_expense","description":"Emails which constitute a potential personal expense with 50% or greater confidence. See reference on what constitutes a personal expense."}]},"options":{"fallback":"other","systemPromptTemplate":"Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json.\n\n**Business Expense Categories**\n\n1. **Product Development & Production:** Costs for creating, manufacturing, or refining products for sale.\n2. **Professional Services:** Payments to lawyers, accountants, consultants, or freelancers.\n3. **Marketing & Advertising:** Expenses for promoting the business, such as ads, sponsored posts, and promotional materials.\n4. **Equipment & Tools:** Purchases or rentals of devices, machinery, photography and lighting equipment, or hardware.\n5. **Home Office & Utilities (Business Portion):** The proportionate cost of rent, electricity, internet, and other utilities dedicated to a designated business workspace.\n6. **Insurance & Compliance:** Premiums for business-related insurance and fees for licenses, permits, or certifications required by law.\n7. **Banking & Merchant Fees:** Costs associated with business bank accounts, merchant services, and payment processing.\n8. **Software Subscriptions and Purchases:** Recurring fees for business-related software, platforms, or online tools including Open AI.\n9. **Inventory & Supplies:** Costs of products, raw materials, and office supplies necessary for business operations.\n10. **Education & Training:** Courses or workshops for personal development with no direct business application.\n\n**Personal Expense Categories**\n\n1. **Housing & Utilities (Personal):** Rent, mortgage, electricity, water, and other home expenses not allocated to a business workspace.\n2. **Personal Transportation:** Vehicle expenses or travel costs not related to business trips.\n3. **Personal Food & Groceries:** Everyday meals, groceries, and dining out.\n4. **Personal Insurance & Healthcare:** Health, dental, life, or other policies not required for running the business.\n5. **Personal Entertainment & Hobbies:** Costs for leisure activities, streaming services.\n6. **Personal Clothing & Grooming:** Clothing, footwear, and grooming items that are not specific business uniforms or safety gear.\n7. **Household & Family Expenses:** Childcare, family-oriented expenses, and home repairs.\n8. **Personal Financial & Investment Expenses:** Bank fees, investment costs, or financial services expenses that are not business related."}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[680,-320],"id":"1573f26d-915d-49dd-8067-a3037850443c","name":"Text Classifier"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[740,-140],"id":"aa6bf572-638f-445b-8461-7dbdc4ddb655","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"fuvsuu6zEMb7LJmO","name":"OpenAi account"}}},{"parameters":{"inputText":"=<email>\n<from>{{ $json.from.text }}</from>\n<subject>{{ $json.subject }}</subject>\n<body_text>\n{{ $json.text }}\n</body_text>\n</email>","categories":{"categories":[{"category":"receipt","description":"Emails that are receipts for a purchases or subscriptions of any kind."},{"category":"non_receipt","description":"Emails that are anything other than a purchase receipt."}]},"options":{"fallback":"other"}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[200,0],"id":"c4e17219-22cf-48fd-bd40-94c53701fe89","name":"Classify Expenses"},{"parameters":{"operation":"getAll","simple":false,"filters":{"q":"label:Receipts -label:non_expense  -label:expense/business -label:expense/personal -label:expense/unknown","receivedAfter":"2023-12-31T00:00:00"},"options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-40,380],"id":"051505f2-0c44-4501-a995-452e5babf805","name":"Gmail3","webhookId":"da96fcca-20c2-4020-a7a4-dbeb941f70f9","notesInFlow":true,"credentials":{"gmailOAuth2":{"id":"GEBgao5vu7viLpFn","name":"Gmail account"}},"notes":"Filtered for receipts"},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_60718131164416117"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[760,0],"id":"8f8c5bbe-a0bd-475d-aa12-f1d2c12b372a","name":"Label Non-Expense","webhookId":"895be9a6-b060-42d8-bbdc-c21c8b9906dc","credentials":{"gmailOAuth2":{"id":"GEBgao5vu7viLpFn","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_4972487624059684814"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[760,200],"id":"64c668a1-5011-4f91-b189-0826e021ebea","name":"Label Expense Unknown","webhookId":"895be9a6-b060-42d8-bbdc-c21c8b9906dc","credentials":{"gmailOAuth2":{"id":"GEBgao5vu7viLpFn","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_4972487624059684814"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1280,-120],"id":"543dcd56-37fe-46d2-844e-1f962ad237fa","name":"Label Expense Unknown1","webhookId":"895be9a6-b060-42d8-bbdc-c21c8b9906dc","credentials":{"gmailOAuth2":{"id":"GEBgao5vu7viLpFn","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_626699677167777044"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1280,-520],"id":"4807ff29-e7cd-4fac-9b4a-14063255748f","name":"Label Business Expense","webhookId":"895be9a6-b060-42d8-bbdc-c21c8b9906dc","credentials":{"gmailOAuth2":{"id":"GEBgao5vu7viLpFn","name":"Gmail account"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_5390175767414667451"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1280,-320],"id":"9ca836e9-763f-4fdf-8ea5-e5fd549402e3","name":"Label Personal Expense","webhookId":"895be9a6-b060-42d8-bbdc-c21c8b9906dc","credentials":{"gmailOAuth2":{"id":"GEBgao5vu7viLpFn","name":"Gmail account"}}},{"parameters":{"content":"## TODOs\n### Trigger branch\n\n---\n### Backfill Branch\n* [ ] Schedule every 30 mins\n\n---\n### Main Process\n* [ ] Output notifications to Slack (backfills only)\n* [ ] Classify and summarize newsletters and provide links to the emails.\n* [ ] Classify then track packages in Notion\n* [ ] Forward business expenses with attached PDF receipts to Quickbooks (require approval) and add a tag.\n* [ ] Automatically retrieve the receipt for emails without PDF receipts.\n\n---\n### Prompt\n* [ ] Use classified transactions to improve the prompt\n    * Can I use company names?\n    * Can I use YNAB transaction names?\n\n---\n### Project-wide\n* [x] Add failure notification workflow\n* [ ] Hide non-expense label in Superhuman","height":440,"width":720,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-620,-700],"typeVersion":1,"id":"d4bd1ead-8fa0-45ee-815e-57346e8b2a99","name":"Sticky Note1"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-320,380],"id":"b27dc190-5754-457b-a08e-fd3d43e06a12","name":"Schedule Trigger"},{"parameters":{"content":"## Expense Type Labeling","height":960,"width":1440,"color":4},"type":"n8n-nodes-base.stickyNote","position":[160,-560],"typeVersion":1,"id":"0c16d620-aae2-438f-88ed-31acaef2c14f","name":"Sticky Note2"},{"parameters":{"content":"## Triggers","height":740,"width":580,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-440,-140],"typeVersion":1,"id":"725888dd-ace3-43ab-a094-2be81cbfa73d","name":"Sticky Note3"}],"connections":{"Gmail Trigger":{"main":[[{"node":"Classify Expenses","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Classify Expenses","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Classify Expenses":{"main":[[{"node":"Text Classifier","type":"main","index":0}],[{"node":"Label Non-Expense","type":"main","index":0}],[{"node":"Label Expense Unknown","type":"main","index":0}]]},"Text Classifier":{"main":[[{"node":"Label Business Expense","type":"main","index":0}],[{"node":"Label Personal Expense","type":"main","index":0}],[{"node":"Label Expense Unknown1","type":"main","index":0}]]},"Gmail3":{"main":[[{"node":"Classify Expenses","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Gmail3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1734549848,"possibleDuplicates":["193db1212d6be9f3"]}},"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"de193989-688b-4133-8c53-ac2e3575ca15","triggerCount":1,"tags":[]}