workflows/EVE 0.1.json
{"createdAt":"2024-11-25T19:39:28.769Z","updatedAt":"2024-11-25T19:44:25.000Z","id":"nRMVemS6pVxMpzWB","name":"EVE 0.1","active":false,"nodes":[{"parameters":{"trigger":["message"],"channelId":{"__rl":true,"value":"C0807959D4J","mode":"list","cachedResultName":"eve"},"options":{"resolveIds":true}},"id":"f193208a-eff3-4cf6-bf24-1ac44240e80d","name":"Slack Trigger","type":"n8n-nodes-base.slackTrigger","typeVersion":1,"position":[1320,660],"webhookId":"5eb89f35-4af5-4f30-a946-04244e7a8548","notesInFlow":true,"credentials":{"slackApi":{"id":"jDu3BYKRFMML8nom","name":"Slack account"}},"notes":"Connected Slack App: https://api.slack.com/apps/A080KVCLWEM/event-subscriptions?"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"ericbragas412@gmail.com","mode":"list","cachedResultName":"Main"},"options":{"timeMin":"={{ $fromAI(\"after\", \"Date after which to look for events\", \"string\") }}","timeMax":"={{ $fromAI(\"before\", \"Date before which to look for events\", \"string\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[2060,1220],"id":"5a4a43fe-0b90-451c-af70-8b92575f4222","name":"Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"J3zxG5nA7YYOLleG","name":"Google Calendar account"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=You are EVE, Eric's expert AI Assistant who helps him pursue his goals and with his creative projects.\n\nToday is {{ $today }}.\n\nFormat output with the following markdown syntax:\n*bold*\n_italic_\n~strikethrough~\n`code`\n>block quote\n```\ncode block\n```\n1. ordered list\n* bulleted list","returnIntermediateSteps":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1880,660],"id":"07a34009-732f-4cd5-991f-7c8d6f41d560","name":"AI Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[2440,1220],"id":"07f4cd8a-5e58-4cf7-b71b-999276ab9fae","name":"Calculator"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.user }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[1920,960],"id":"f175751c-5f3f-4040-96c3-4ed165ad602c","name":"Window Buffer Memory"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C0807959D4J","mode":"list","cachedResultName":"eve"},"text":"={{ $json.output }}","otherOptions":{"includeLinkToWorkflow":false,"link_names":true,"mrkdwn":true,"unfurl_links":false,"unfurl_media":true,"sendAsUser":"EVE"}},"type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[2280,660],"id":"e226d0f5-2273-4219-a50f-90b83c91ef4c","name":"Slack","webhookId":"123de458-3223-42e6-acf5-899a2890873a","credentials":{"slackApi":{"id":"jDu3BYKRFMML8nom","name":"Slack account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[1780,960],"id":"d6517e0f-7711-4a4c-96ec-30434624f4fa","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"wa3t5mnBsToeLi6E","name":"Anthropic account"}}},{"parameters":{"operation":"search","text":"={{ $fromAI(\"search_term\", \"term to search in Notion based on the users request\", string) }}","options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[2200,1220],"id":"259e48e5-d89b-401a-8f3b-6cd0ea1a246b","name":"Notion","credentials":{"notionApi":{"id":"iOBPRPI5ImJWFgdd","name":"Notion account"}}},{"parameters":{"resource":"block","operation":"getAll","blockId":{"__rl":true,"value":"={{ $fromAI(\"page_id\", \"Page ID for the users requested Notion page returned by the Notion search\", string) }}","mode":"id"}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[2320,1220],"id":"c8c7db53-b31a-404a-9879-0d3e81dce4b5","name":"Notion1","credentials":{"notionApi":{"id":"iOBPRPI5ImJWFgdd","name":"Notion account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c71aa216-b1a4-4a80-8fc2-ad3d0ca39566","leftValue":"={{ $json.subtype }}","rightValue":"bot_message","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1540,660],"id":"41692b73-e908-4db8-ba9d-d5448b870358","name":"If"}],"connections":{"Slack Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"Google Calendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Slack","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Notion":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Notion1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"If":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Slack Trigger":[{"json":{"subtype":"bot_message","text":"Today's date is November 10, 2024. \n\nTo provide you with more context about your day, I can check your Google Calendar for any events or appointments scheduled for today. Would you like me to do that?","username":"EVE","type":"message","ts":"1731276434.105869","bot_id":"B07V7SH17QX","app_id":"A08089Z1N4T","blocks":[{"type":"rich_text","block_id":"iihqP","elements":[{"type":"rich_text_section","elements":[{"type":"text","text":"Today's date is November 10, 2024. \n\nTo provide you with more context about your day, I can check your Google Calendar for any events or appointments scheduled for today. Would you like me to do that?"}]}]}],"channel":"C0807959D4J","event_ts":"1731276434.105869","channel_type":"channel","channel_resolved":"eve"}}]},"versionId":"aa4bede6-3672-4f56-b48a-8f876d7a2746","triggerCount":1,"tags":[]}