workflows/EVE.json
{"createdAt":"2024-11-10T03:32:48.901Z","updatedAt":"2024-11-29T17:37:38.000Z","id":"LGi8SRBX3EjIWG6E","name":"EVE","active":true,"nodes":[{"parameters":{"trigger":["message"],"channelId":{"__rl":true,"value":"C0807959D4J","mode":"list","cachedResultName":"eve"},"options":{"resolveIds":true}},"id":"29ed0f2a-e877-471a-90a3-639a78063827","name":"Slack Trigger","type":"n8n-nodes-base.slackTrigger","typeVersion":1,"position":[1320,640],"webhookId":"42bcc551-c114-424b-b559-8c6f2716715b","notesInFlow":true,"credentials":{"slackApi":{"id":"jDu3BYKRFMML8nom","name":"Slack account"}},"notes":"Connected Slack App: https://api.slack.com/apps/A080KVCLWEM/event-subscriptions?"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=You are EVE, Eric's expert AI Assistant who helps him pursue his goals and with his creative projects. Keep all your responses concise!\n\nToday is {{ $today }}.","returnIntermediateSteps":false}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1900,640],"id":"bfc18f2e-6b3b-4518-9071-7908c5b16c2c","name":"AI Agent","onError":"continueErrorOutput"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[2540,1100],"id":"759b2a9f-6b1a-4a2b-b5fa-4f4c49a02b1a","name":"Calculator"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.user }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[1840,900],"id":"5b4434a4-f772-48a2-9ef0-616db5d226ba","name":"Window Buffer Memory"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C0807959D4J","mode":"list","cachedResultName":"eve"},"text":"={{ $json.output }}","otherOptions":{"includeLinkToWorkflow":false,"link_names":true,"mrkdwn":true,"unfurl_links":false,"unfurl_media":true,"sendAsUser":"EVE"}},"type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[2300,560],"id":"ded7c1e7-00f2-4fe5-9d6a-66452c904fdf","name":"Slack","webhookId":"4c7ff199-193c-4a90-9ed0-3acd96835d7b","credentials":{"slackApi":{"id":"jDu3BYKRFMML8nom","name":"Slack account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[1700,880],"id":"f7849210-8906-4961-aad8-58b362ecb52d","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"wa3t5mnBsToeLi6E","name":"Anthropic account"}}},{"parameters":{"operation":"search","text":"={{ $fromAI(\"search_term\", \"term to search in Notion based on the users request\", string) }}","options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[2300,1120],"id":"e120e1a4-07c5-4504-b852-27cd4acb3a8b","name":"Notion","credentials":{"notionApi":{"id":"iOBPRPI5ImJWFgdd","name":"Notion account"}},"disabled":true},{"parameters":{"resource":"block","operation":"getAll","blockId":{"__rl":true,"value":"={{ $fromAI(\"page_id\", \"Page ID for the users requested Notion page returned by the Notion search\", string) }}","mode":"id"}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[2420,1120],"id":"275af368-4aac-49f8-acf2-cb7031a24a66","name":"Notion1","credentials":{"notionApi":{"id":"iOBPRPI5ImJWFgdd","name":"Notion account"}},"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c71aa216-b1a4-4a80-8fc2-ad3d0ca39566","leftValue":"={{ $json.subtype }}","rightValue":"bot_message","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1500,640],"id":"a1cf9358-7452-45c0-9f67-54e3891448a9","name":"If"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C0807959D4J","mode":"list","cachedResultName":"eve"},"text":"=I'm sorry! Something broke!","otherOptions":{"includeLinkToWorkflow":true,"link_names":true,"mrkdwn":true,"unfurl_links":false,"unfurl_media":true,"sendAsUser":"EVE"}},"type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[2300,720],"id":"84e0f352-b2fe-4720-b684-2d96b250cd21","name":"Slack2","webhookId":"4c7ff199-193c-4a90-9ed0-3acd96835d7b","credentials":{"slackApi":{"id":"jDu3BYKRFMML8nom","name":"Slack account"}}},{"parameters":{"name":"calendar_agent","description":"Call this tool to get calendar events, create events, or create events with attendees.","workflowId":{"__rl":true,"value":"ADWHW6pAvGWuPUsW","mode":"list","cachedResultName":"Calendar Agent"}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[2120,1120],"id":"3e883758-142d-4a60-bb01-9da7ac4d52bd","name":"Calendar Agent"},{"parameters":{"documentId":{"__rl":true,"value":"1XYog5eFyXFch7NtdJ6TVahjLdzlynOGhx4scT0vvZ_E","mode":"list","cachedResultName":"contacts_database","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XYog5eFyXFch7NtdJ6TVahjLdzlynOGhx4scT0vvZ_E/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":526395581,"mode":"list","cachedResultName":"dex_contacts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1XYog5eFyXFch7NtdJ6TVahjLdzlynOGhx4scT0vvZ_E/edit#gid=526395581"},"filtersUI":{"values":[{"lookupColumn":"first_name","lookupValue":"={{ $fromAI('first_name', 'First name of the contact', string, NaN) }}"},{"lookupColumn":"last_name","lookupValue":"={{ $fromAI('last_name', 'Last name of the contact', string, NaN) }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[1820,1280],"id":"ee2c0c83-a25a-4a6b-abee-cd42e7d0195e","name":"Contact Database","credentials":{"googleSheetsOAuth2Api":{"id":"LaLXUAplY7dw461Q","name":"Google Sheets account"}},"notes":"Look into replacing with Notion, Dex, Google Contacts, or Airtable."},{"parameters":{"content":"Contacts search is limited to first and last name only.\n\nConvert to a contacts agent.","height":280,"width":380,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1640,1160],"id":"205a04d9-d510-4b22-a615-3b8532901767","name":"Sticky Note"},{"parameters":{"content":"- [ ] Support email trigger in addition to Slack (or separate into two different workflows).\n- [ ] Change Slack trigger to on mention in all channels, or any non-Eve message in #eve channel.","height":320,"width":460,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1220,500],"id":"b51b0cd9-5140-4961-a557-47894c9f6896","name":"Sticky Note1"}],"connections":{"Slack Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Slack","type":"main","index":0}],[{"node":"Slack2","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Notion":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Notion1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"If":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Calendar Agent":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Contact Database":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Slack Trigger":[{"json":{"user":"U04FEEE6D7B","type":"message","ts":"1732901346.259819","client_msg_id":"7ce44e06-ef72-4d47-b281-ddf0507a8457","text":"What is Josh Rassmussen's email?","team":"T04F4961LJG","blocks":[{"type":"rich_text","block_id":"pHmz/","elements":[{"type":"rich_text_section","elements":[{"type":"text","text":"What is Josh Rassmussen's email?"}]}]}],"channel":"C0807959D4J","event_ts":"1732901346.259819","channel_type":"channel","user_resolved":"ericbragas412","channel_resolved":"eve"}}]},"versionId":"0ed7c9f2-cef2-402b-871a-c48f6dd2d19a","triggerCount":1,"tags":[]}