workflows/Generate Daily Habits.json
{"createdAt":"2024-12-06T01:01:31.011Z","updatedAt":"2024-12-12T19:40:35.000Z","id":"kMJMnPLDgKSwdlMR","name":"Generate Daily Habits","active":true,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-400,240],"id":"188bb0f2-500a-4462-8121-9757733be77e","name":"Schedule Trigger"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"154c0734-524e-801e-8e37-fa16f52814d5","mode":"list","cachedResultName":"Habits","cachedResultUrl":"https://www.notion.so/154c0734524e801e8e37fa16f52814d5"},"returnAll":true,"filterType":"manual","filters":{"conditions":[{"key":"Active?|checkbox","condition":"equals","checkboxValue":true}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[40,-40],"id":"956ee2f2-f257-4d47-beb2-da5dbcaa528f","name":"Get Active Habits","credentials":{"notionApi":{"id":"iOBPRPI5ImJWFgdd","name":"Notion account"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"154c0734-524e-800d-82f1-cbc5538d04be","mode":"list","cachedResultName":"Daily Habit Tracking","cachedResultUrl":"https://www.notion.so/154c0734524e800d82f1cbc5538d04be"},"title":"={{ $today.format('yyyy-MM-dd') }} - {{ $json.name }}","propertiesUi":{"propertyValues":[{"key":"Date|date","includeTime":false,"date":"={{ $today }}"},{"key":"Habit|select","selectValue":"={{ $json.name }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1000,120],"id":"1835d971-8120-48f1-b38c-edf4f9d18eb6","name":"Create Daily Habit Pages","credentials":{"notionApi":{"id":"iOBPRPI5ImJWFgdd","name":"Notion account"}}},{"parameters":{"content":"## TODOs\n* [x] get the current days habit records and only create records for habits not already tracked today.\n* [x] Trigger on Notion Webhook.\n* [x] Send previous day habit summary and coaching!","width":480,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-20,-280],"typeVersion":1,"id":"a1f155ea-bd5a-4cfe-a5dd-762b01d75095","name":"Sticky Note"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"154c0734-524e-800d-82f1-cbc5538d04be","mode":"list","cachedResultName":"Habit Tracking","cachedResultUrl":"https://www.notion.so/154c0734524e800d82f1cbc5538d04be"},"filterType":"json","filterJson":"={\n  \"and\": [\n    {\n      \"property\": \"Date\",\n      \"date\": {\n        \"equals\": \"{{ $today.format('yyyy-MM-dd') }}\"\n      }\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[40,240],"id":"91045476-7134-4390-ace8-7d3309cafcab","name":"Get Habit Tracking Pages Today","credentials":{"notionApi":{"id":"iOBPRPI5ImJWFgdd","name":"Notion account"}}},{"parameters":{"mode":"combineBySql","query":"-- Find habits without tracking records\nSELECT  *\nFROM    input1\n        LEFT OUTER JOIN input2 \n            ON input1.name = input2.property_habit\nWHERE   input2.property_habit IS NULL"},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[520,120],"id":"c4981821-318b-456e-86e1-f095a9657ae1","name":"Merge","alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"e3b440e1-6533-4f22-922a-c518a54f3b86","name":"name","value":"={{ $json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[280,-40],"id":"9bce343e-2998-417f-b21e-32371f981f79","name":"Active Habits"},{"parameters":{"assignments":{"assignments":[{"id":"5deed3bd-6e9a-4f12-af27-340cf8e1abdb","name":"property_habit","value":"={{ $json.property_habit }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[280,240],"id":"a5b6bc01-a898-4020-b70b-9dbadf5c71c5","name":"Existing Habits Today"},{"parameters":{"httpMethod":"POST","path":"2375a1bf-1761-4526-b981-b16b6aee4f1b","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-400,-40],"id":"e6d5c75a-423a-4e07-a25b-891d3bef9893","name":"Webhook","webhookId":"2375a1bf-1761-4526-b981-b16b6aee4f1b"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-180,100],"id":"0f2b1a9e-12e8-460e-8c16-41c74a35c71c","name":"No Operation, do nothing"},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"154c0734-524e-800d-82f1-cbc5538d04be","mode":"list","cachedResultName":"Habit Tracking","cachedResultUrl":"https://www.notion.so/154c0734524e800d82f1cbc5538d04be"},"filterType":"json","filterJson":"={\n  \"and\": [\n    {\n      \"property\": \"Date\",\n      \"date\": {\n        \"equals\": \"{{ $today.minus(1, 'days').format('yyyy-MM-dd') }}\"\n      }\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[40,660],"id":"6751b56d-c3a2-4fff-becd-ad081d1e4e68","name":"Previous Days Habits Tracked","credentials":{"notionApi":{"id":"iOBPRPI5ImJWFgdd","name":"Notion account"}}},{"parameters":{"assignments":{"assignments":[{"id":"1e8f1013-3a6c-4e5b-96c6-9f90e791223e","name":"habit","value":"={{ $json.property_habit }}","type":"string"},{"id":"95f28347-fdfb-478d-a92a-281f3f8eaad0","name":"completed","value":"={{ $json.property_completed }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[280,660],"id":"b7967d40-0f80-48bb-8b91-e5f2fc79bc1b","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"=You are an AI assistant specializing in habit analysis and improvement, acting as a supportive and encouraging personal coach. Your task is to review a user's daily habits, provide personalized feedback, and offer suggestions to help them improve their consistency and success rate.\n\nHere is the user's habit data from yesterday:\n\n<habits_data>\n{{JSON.stringify($json.data)}}\n</habits_data>\n\nBefore providing your coaching feedback, please analyze the habits data thoroughly. Wrap your analysis inside <habit_breakdown> tags as follows:\n\n1. List all habits, categorizing them as completed or incomplete. Count the total number of completed and incomplete habits.\n2. Identify any patterns or clusters in the habit data (e.g., time of day, type of activity).\n3. For each incomplete habit:\n   a) Note the time of day it was scheduled and consider if this impacts its completion.\n   b) Brainstorm ideas using James Clear's Four Laws of Behavior Change:\n      - Make it Obvious\n      - Make it Attractive\n      - Make it Easy\n      - Make it Satisfying\n4. For completed habits, consider how they contribute to the user's goals or desired identity.\n5. Identify potential habit stacking opportunities based on completed habits.\n6. Consider environmental design suggestions based on the habits list.\n\nAfter completing your analysis, provide personalized coaching feedback in a friendly, conversational tone. Structure your response as follows:\n\n1. Greeting and Positive Reinforcement:\n   Start with a warm greeting and acknowledge the user's efforts in tracking their habits.\n\n2. Completed Habits:\n   - Reinforce the user's identity as someone who successfully completes these habits.\n   - Briefly explain how these habits contribute to their goals or desired identity.\n\n3. Areas for Improvement:\n   Discuss incomplete habits in a supportive manner, offering suggestions based on the Four Laws of Behavior Change. Focus on one or two key habits that could have the most significant impact.\n\n4. Habit Stacking Suggestion:\n   Provide one habit stacking suggestion using the formula: \"After [CURRENT HABIT], I will [NEW HABIT]\".\n\n5. Environmental Design Tip:\n   Offer one specific piece of advice on how to design the user's environment to support their habit formation.\n\n6. Three Key Recommendations:\n   Summarize the coaching session with three specific, actionable recommendations for improving habit consistency. Emphasize small, 1% improvements.\n\n7. Encouraging Closing:\n   End with an encouraging message that motivates the user to take action"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[720,660],"id":"2de49adf-2bc4-4d19-a2a8-b2fde91f20cc","name":"Basic LLM Chain"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[500,660],"id":"dba78b77-54e7-4c33-afc2-e7647ad82aac","name":"Aggregate"},{"parameters":{"model":"gpt-4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[800,880],"id":"71d8d681-3536-46e9-bb8e-cc66c3863a01","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"fuvsuu6zEMb7LJmO","name":"OpenAi account"}}},{"parameters":{"chatId":"6648999969","text":"={{ $json.text.split('---')[1].trim() }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1100,660],"id":"79ab8fc6-dab3-4935-b326-19b561e141ff","name":"Telegram","credentials":{"telegramApi":{"id":"PqwElfnEeLUD5snV","name":"Telegram account"}}},{"parameters":{"content":"## IDEAS\n* [ ] Generate audio using ElevenLabs and send via Telegram.\n* [ ] Include last 7 days of history in habits and identify patterns.\n* [ ] Include the goals associated with each habit so the coaching can draw off of RSTLNE.","height":180,"width":480,"color":5},"type":"n8n-nodes-base.stickyNote","position":[860,440],"typeVersion":1,"id":"3a7cb0fe-ed57-4513-a281-e9bddc4a9661","name":"Sticky Note1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5a53abba-9c83-4160-bcf0-983a03c82073","leftValue":"={{ $json.success }}","rightValue":"={{ $json.success }}","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[740,120],"id":"43fad820-96db-420b-b53e-9d9fc4fb6385","name":"If","notesInFlow":true,"notes":"Required IF to shortcircuit when no results returned by merge."}],"connections":{"Schedule Trigger":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0},{"node":"Previous Days Habits Tracked","type":"main","index":0}]]},"Get Active Habits":{"main":[[{"node":"Active Habits","type":"main","index":0}]]},"Create Daily Habit Pages":{"main":[[]]},"Get Habit Tracking Pages Today":{"main":[[{"node":"Existing Habits Today","type":"main","index":0}]]},"Active Habits":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Existing Habits Today":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"If","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Get Active Habits","type":"main","index":0},{"node":"Get Habit Tracking Pages Today","type":"main","index":0}]]},"Previous Days Habits Tracked":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Create Daily Habit Pages","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"ericbragas.app.n8n.cloud","user-agent":"NotionAutomation","content-length":"1233","accept-encoding":"gzip, br","baggage":"sentry-environment=production,sentry-release=0.0.675,sentry-public_key=529a6d1990e5471d874257842c4f4ad8,sentry-trace_id=707c028d04ad4c53a74f9468b4ec0949","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"44.227.140.35","cf-ew-via":"15","cf-ipcountry":"US","cf-ray":"8f102614801e9679-SJC","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","content-type":"application/json","sentry-trace":"707c028d04ad4c53a74f9468b4ec0949-9058936e74c5eca8","traceparent":"00-675b3aa100000000487d288d3b5e9174-7e3ea86780f5d7a0-00","tracestate":"dd=t.tid:675b3aa100000000;t.dm:-4;s:-1;p:7e3ea86780f5d7a0","x-datadog-parent-id":"9096893459833673632","x-datadog-sampling-priority":"-1","x-datadog-tags":"_dd.p.tid=675b3aa100000000","x-datadog-trace-id":"5223375729871196532","x-forwarded-for":"44.227.140.35, 172.69.135.159","x-forwarded-host":"ericbragas.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-7-c479b4d45-dzmpm","x-is-trusted":"yes","x-real-ip":"44.227.140.35"},"params":{},"query":{},"body":{"source":{"type":"automation","automation_id":"1d2c8771-357f-4041-b334-b36b6af9e37e","action_id":"15ac0734-524e-80de-8ada-005a3383c719","event_id":"0b01ba02-6d7a-4945-8ac9-1ce3c67d4efe","attempt":1},"data":{"object":"page","id":"5b7ef53e-e68d-4294-82f7-4575398c5549","created_time":"2024-04-11T19:15:00.000Z","last_edited_time":"2024-12-12T19:33:00.000Z","created_by":{"object":"user","id":"b0d7e166-63e4-4240-a8fb-5884e5cc51b1"},"last_edited_by":{"object":"user","id":"b0d7e166-63e4-4240-a8fb-5884e5cc51b1"},"cover":{"type":"external","external":{"url":"https://images.unsplash.com/photo-1443632864897-14973fa006cf?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb"}},"icon":{"type":"emoji","emoji":"🧠"},"parent":{"type":"workspace","workspace":true},"archived":false,"in_trash":false,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Personal Dashboard","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Personal Dashboard","href":null}]}},"url":"https://www.notion.so/Personal-Dashboard-5b7ef53ee68d429482f74575398c5549","public_url":null,"request_id":"3be75ed6-110c-4b99-ab23-dba6b17fc97b"}},"webhookUrl":"https://ericbragas.app.n8n.cloud/webhook/2375a1bf-1761-4526-b981-b16b6aee4f1b","executionMode":"production"}}]},"versionId":"e799602a-1c1b-4b1a-b96b-9c676355e14c","triggerCount":2,"tags":[]}