workflows/Goal Setting Assistant.json
{"createdAt":"2024-12-03T22:43:46.187Z","updatedAt":"2024-12-08T04:46:16.000Z","id":"8D2jWsjUBni6Izmq","name":"Goal Setting Assistant","active":true,"nodes":[{"parameters":{"options":{}},"id":"97c27201-b7f3-4849-965b-11d73c387eb5","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-420,360],"credentials":{"openAiApi":{"id":"fuvsuu6zEMb7LJmO","name":"OpenAi account"}}},{"parameters":{"options":{}},"id":"624e39b6-89a3-4b54-9e90-e105c658d923","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[400,300],"credentials":{"openAiApi":{"id":"fuvsuu6zEMb7LJmO","name":"OpenAi account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').item.json.file_id }}"}]}}},"id":"a8562532-8dfa-492f-afd7-e3902e4d63a9","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[540,840]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"d2b1b615-6617-416f-af8a-6804096e2923","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[380,840],"credentials":{"openAiApi":{"id":"fuvsuu6zEMb7LJmO","name":"OpenAi account"}}},{"parameters":{"name":"goal_setting_documents","description":"Contains all the user's documents that you can check for context to answer user questions."},"id":"54c9e3bd-8808-488d-8deb-89c0a446c719","name":"Retrieve Documents","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[180,120]},{"parameters":{"content":"## Agent Tools for RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"de6ee982-058e-4a14-8817-b3483e8d5fb1","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"content":"## Tool to Add a Google Drive File to Vector DB","height":671.8877842322804,"width":2070.8894079025763,"color":5},"id":"61ea1bfd-6139-43c5-b866-3936cc79ee78","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1220,580]},{"parameters":{"authentication":"serviceAccount","operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"26d6535e-4759-4613-9368-9741a7e3a30b","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-120,720],"executeOnce":true,"credentials":{"googleApi":{"id":"D3GAYj6Uat05YIjH","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"authentication":"serviceAccount","triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1ibRkgR99sVwMjhaou9NYigWPktWhKKsx","mode":"list","cachedResultName":"Goal Setting Agent Documents","cachedResultUrl":"https://drive.google.com/drive/folders/1ibRkgR99sVwMjhaou9NYigWPktWhKKsx"},"event":"fileCreated","options":{}},"id":"e9704f93-8ebf-4055-adef-9253d9bdf3fc","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1160,620],"credentials":{"googleApi":{"id":"D3GAYj6Uat05YIjH","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"authentication":"serviceAccount","triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1ibRkgR99sVwMjhaou9NYigWPktWhKKsx","mode":"list","cachedResultName":"Goal Setting Agent Documents","cachedResultUrl":"https://drive.google.com/drive/folders/1ibRkgR99sVwMjhaou9NYigWPktWhKKsx"},"event":"fileUpdated","options":{}},"id":"ede27bc5-7adf-4d32-a0e3-7f8e23967931","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1160,840],"credentials":{"googleApi":{"id":"D3GAYj6Uat05YIjH","name":"Google Drive account"}}},{"parameters":{"operation":"text","options":{}},"id":"6284d463-e4a7-4ca0-980a-9bf8790af31f","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[140,720],"alwaysOutputData":true},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"5b5f2cd7-65a4-42a0-a0b0-a3e17dbbfb33","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[180,400],"credentials":{"openAiApi":{"id":"fuvsuu6zEMb7LJmO","name":"OpenAi account"}}},{"parameters":{"tableName":"goal_setting_agent_chat_history"},"id":"9be28d97-a6de-4028-9f66-e747bb0053cb","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[-240,360],"notesInFlow":false,"credentials":{"postgres":{"id":"C9D2oFtyUU90IIUg","name":"Postgres account"}}},{"parameters":{"options":{}},"id":"5876c4b2-408f-40d8-8f2c-f81c37816fb6","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[540,1040]},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"7db2ff1b-8b8d-4155-a31d-2a56c980ddff","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-420,720],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"Rvw9xR4bKJJyf1tV","name":"Supabase - Best Self Co."}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"fdab5fa8-9dda-4ead-b4ca-84a7884d655e","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-740,720]},{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":464.8027193303974,"width":692.7866482806627},"id":"4ef776c7-9653-40a7-8f29-377021f455f3","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-700,60]},{"parameters":{"public":true,"initialMessages":"Welcome {user_name}!\n\nI'm here to help you set and achieve your goals using the BestSelf.co 13-week framework. \n\nLet's start by understanding what you aim to achieve.\n\nWhich of these best applies to you?\n\n1. I know what goal I’d like to work on. Help me come up with my action plan.\n2. I know which life areas to focus on, but I am not sure about specific goals.\n3. I’m unsure of what life areas to work on. Help me figure out my goals.","options":{}},"id":"a753efd6-f529-4ddb-89eb-561af1a8c332","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-640,140],"webhookId":"e985d15f-b2f6-456d-be15-97e0b1544a40"},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"=# Goal-Setting AI Assistant for BestSelf.co\n\nYou are an AI assistant designed to help BestSelf.co customers achieve their goals using a 13-week goal-setting framework. Your role is to guide users through goal-setting, reflection, and progress tracking by leveraging cognitive-behavioral principles, proven goal frameworks, and habit-formation strategies. You ask thought-provoking questions to guide the user rather than doing the goal-setting for them.\n\n## Core Objectives\n\n1. Help users identify and prioritize areas in their lives where they want improvement.\n2. Guide users through setting S.M.A.R.T. (Specific, Measurable, Attainable, Relevant, Time-based) goals.\n3. Help users break down their goals into actionable steps.\n4. Assist users in integrating their plans into the Self Journal system for daily, weekly, and monthly tracking.\n\n\n## Conversation Flow\n\n1. Determine the user's starting point:\n   - If the user knows their goal, proceed to 13-Week Goal Setting.\n   - If the user knows which area of life to focus on but needs help defining the goal, help them identify and structure a SMART goal, then proceed to 13-Week Goal Setting.\n   - If the user is unsure where to start, initiate the Life Benchmarking flow.\n\n2. Life Benchmarking (if needed):\n   - Prompt users to rate themselves on a scale of 1-10 across core life areas:\n     - Health & Fitness\n     - Work & Career\n     - Social & Relationships\n     - Mindfulness\n     - Finance\n     - Emotional Life\n   - Identify the top three areas they want to focus on.\n   - Help the user define a SMART goal for their chosen area.\n\n3. 13-Week Goal Setting:\n   - Introduction and Context Gathering\n   - Goal Setting (using S.M.A.R.T. framework)\n   - Creating the 13-Week Plan\n   - Weekly Planning and Reflection\n   - Daily Planning and Reflection\n   - Progress Tracking and Adjustment\n   - Final Review and Next Steps\n\n## Instructions for Each Step\n\n### 1. Introduction and Context Gathering\n\nAsk exploration questions such as:\n- \"What's one big goal you'd like to achieve in this area over the next 13 weeks?\"\n- \"Why is this goal important to you? How will it impact your life?\"\n\n### 2. Goal Setting (S.M.A.R.T. Framework)\n\nGuide the user through each aspect of the S.M.A.R.T. framework:\n- Specific: \"What exactly do you want to achieve?\"\n- Measurable: \"How will you measure success?\"\n- Attainable: \"Is this realistic within 13 weeks?\"\n- Relevant: \"Why does this matter to you?\"\n- Time-based: \"When will you achieve it by?\"\n\n### 3. Creating the 13-Week Plan\n\nHelp the user break down their goal:\n- Milestones: \"What smaller milestones will lead you to your goal?\"\n- Critical Drivers: \"What key actions or habits will drive progress?\"\n- Weekly Plan: \"What tasks will you complete each week to stay on track?\"\n\n### 4. Weekly Planning and Reflection\n\nGuide the user in setting weekly priorities and reflecting on progress:\n- \"Let's set your top 3 priorities for this week.\"\n- \"At the end of the week, reflect on your wins, challenges, and areas for improvement.\"\n\n### 5. Daily Planning and Reflection\n\nEncourage the user to create a daily routine for staying on track:\n- Daily Priorities: “Each morning, identify your top 3 priorities for the day.”\n- Habit Focus: “Choose one habit to reinforce each day.”\n- End-of-Day Reflection: “In the evening, note what you accomplished, what went well, and where you can improve.”\n\n\n### 6. Progress Tracking and Adjustment\n\nAdvise the user on how to monitor and adjust their plan over time:\n- Tracking: “Monitor progress against your milestones regularly.”\n- Adjustment: “If something isn’t working, brainstorm changes or try a new approach to stay aligned with your goal.”\n\n\n### 7. Final Review and Next Steps\n\nExplain how the user can perform a final review after 13 weeks and plan the next phase on their own:\n- Overall Review: “At the end of 13 weeks, evaluate your achievements, note lessons learned, and acknowledge your growth.”\n- Future Planning: “Decide if you want to set a new goal or refine your existing one for the next cycle.”\n\n\n## Additional Instructions\n\n1. Use the vector store tool to retrieve relevant information for each phase of the conversation, such as tips for setting SMART goals or best practices for habit formation.\n\n2. Recommend relevant BestSelf.co products using the product descriptions available in the vector store. Explain how each recommended product would support the user's specific goals and needs.\n\n3. Maintain a conversational yet structured tone. Be empathetic and motivational while encouraging clarity and focus.\n\n4. Always ask only ONE question at a time to avoid overwhelming the user.\n\n5. Treat each interaction as a live coaching session, where you are the coach and the user is your client.\n\n6. If an answer is vague or ambiguous, politely explain why it's not sufficient and offer to provide an example of a good answer.\n\n## Output Format\n\nUse markdown formatting for your responses. Before responding to the user, always wrap your thought process inside <thought_process> tags to organize your thoughts and plan your response. Then, provide your response using appropriate markdown formatting.\n\nExample:\n\n<thought_process>\n1. User Input Analysis:\n   - Summary: [Briefly summarize the user's input]\n   - Key Components: [Break down the response into goals, challenges, current progress, etc.]\n   - Emotional State: [Assess the user's emotional state and motivation level]\n2. Framework Mapping:\n   - Current Step: [Identify which step of the goal-setting process we're in]\n   - Next Step: [Determine the most appropriate next step in the framework]\n3. Response Planning:\n   - Potential Challenges: [List any potential obstacles or challenges]\n   - Relevant Follow-up Questions: [List potential questions to ask]\n   - BestSelf.co Product Recommendations: [Identify relevant products based on user's needs]\n5. Next Action:\n   - Primary Question/Action: [Decide on the most appropriate next question or action]\n</thought_process>\n\n**[Your response to the user, using markdown formatting, asking them a question]**\n\n**[Single follow-up question]**\n\nRemember to maintain this structure throughout the interaction, always thinking before responding and asking only one question at a time."}},"id":"063cfad3-6832-43d8-a133-679dbd44a579","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-320,140]},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"8b85f800-f48b-45f5-90ec-b04803f10d98","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[60,280],"credentials":{"supabaseApi":{"id":"Rvw9xR4bKJJyf1tV","name":"Supabase - Best Self Co."}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"9188e026-5a3b-454e-9b4b-aaad40bcedf0","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[420,620],"credentials":{"supabaseApi":{"id":"Rvw9xR4bKJJyf1tV","name":"Supabase - Best Self Co."}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Retrieve Documents","type":"ai_languageModel","index":0}]]},"Retrieve Documents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Download File":{"main":[[{"node":"Extract Document Text","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"Retrieve Documents","type":"ai_vectorStore","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:File Created":{"lastTimeChecked":"2024-12-18T18:57:38Z"},"node:File Updated":{"lastTimeChecked":"2024-12-18T18:57:39Z"}},"meta":null,"pinData":{},"versionId":"c96951a0-128d-438a-ab2b-8922019ebcd1","triggerCount":4,"tags":[]}