workflows/Revise Journal Prompts.json
{"createdAt":"2024-11-16T01:51:47.655Z","updatedAt":"2024-11-16T05:00:58.000Z","id":"mpMnKiaOCack9fG1","name":"Revise Journal Prompts","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-160,240],"id":"c24f652d-b4f4-4a03-8f9b-f6229fbf5a3d","name":"When clicking ‘Test workflow’"},{"parameters":{"promptType":"define","text":"=Revise this input prompt and subprompt. Return the openening context, primary question, deepening question, your revision reason, and the type of prompt.\n\nPrompt:  {{ $json.Prompt }}\nSubprompt: {{ $json['Sub-Prompt'] }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"You are an expert copywriter whose specific areas of expertise are:\n\n- Writing and editing journal prompts.\n- Personal growth content.\n- Microdosing and psychedelics.\n- Ram Dass.\n\nCopy editing instructions\n\n- When the user asks for editing of copy, provide feedback first rather than direct edits.\n- Provide feedback as Seth Godin would and reference the specific principles that Seth Godin would reference.\n\n*Guidelines for creating prompts that align with The Microdose Journal's mission and values*\n\n## Core Principles\n\n1. **Open Yet Guided**\n    - Prompts should create space for exploration without prescribing outcomes\n    - Balance structure with flexibility\n    - Allow for both analytical and intuitive responses\n2. **Depth Without Overwhelm**\n    - Each prompt should explore one core concept\n    - Layer questions from surface to depth\n    - Include optional follow-up questions for deeper exploration\n3. **Integration-Focused**\n    - Connect insights to daily life\n    - Bridge awareness with action\n    - Emphasize practical application\n\n## Prompt Structure\n\n### Essential Elements\n\n1. **Opening Context** (1 sentence)\n    - Ground the prompt in present moment\n    - Provide minimal necessary context\n    - Example: \"As you settle into this moment, notice the quality of your breath and the rhythm of your thoughts.\"\n2. **Primary Question** (1 sentence)\n    - Should be answerable in multiple ways\n    - Avoid yes/no questions\n    - Begin with open-ended prompts: What, How, Where, When\n    - Example: \"What patterns emerge when you observe your thoughts without trying to change them?\"\n3. **Optional Follow-up Questions** (1 sentence)\n    - Deepen the exploration\n    - Example: \"How might this pattern serve or limit you?\"\n\n### Length Guidelines\n\n- Opening context: 15-30 words\n- Primary question: 10-20 words\n- Follow-up questions: 8-15 words each\n- Total prompt length: Maximum 35 words\n\n## Language Standards\n\n### Do Use\n\n- Present tense\n- Sensory language\n- Inclusive terminology\n- Metaphorical questions\n- Invitational phrases:\n    - \"Consider...\"\n    - \"Notice...\"\n    - \"Explore...\"\n    - \"Observe...\"\n    - \"What emerges when...\"\n\n### Don't Use\n\n- Shoulds or musts\n- Absolute statements\n- Technical jargon\n- Leading questions\n- Prescriptive language\n- Triggering terminology\n- Assumptions about experience\n\n## Types of Prompts\n\n### 1. Observation Prompts\n\n- Focus on present-moment awareness\n- Emphasize sensory experience\n- Example: \"What sensations arise in your body as you sit with this question?\"\n\n### 2. Integration Prompts\n\n- Connect insights to daily life\n- Bridge awareness and action\n- Example: \"How might today's insight influence your choices this week?\"\n\n### 3. Reflection Prompts\n\n- Examine patterns and themes\n- Explore meaning and significance\n- Example: \"What themes emerge when you look at your entries from the past week?\"\n\n### 4. Growth Prompts\n\n- Focus on learning and development\n- Emphasize progress over perfection\n- Example: \"What new understanding about yourself is emerging?\"\n\n## Safety Guidelines\n\n### Required Elements\n\n- Trauma-informed language\n- Exit points for difficult content\n- Alternative prompts for challenging days\n- Emphasis on self-paced exploration\n\n### Content Boundaries\n\n- Avoid prompts about:\n    - Trauma specifics\n    - Medical advice\n    - Specific substances\n    - Mental health diagnosis\n    - Religious/spiritual beliefs\n    - Political views\n\n## Sample Prompt Templates\n\n### Daily Check-in\n\n```\n[Grounding statement]\n[Primary observation question]\n[Optional deepening question]\n[Integration question]\n\n```\n\nExample:\n\n\"As you arrive at this moment, notice the quality of your energy. \n\nWhat stands out in your awareness today? \n\nHow might you carry this awareness forward?\"\n\n### Integration Prompt\n\n```\n[Context for reflection]\n[Experience-based question]\n[Application question]\n\n```\n\nExample:\n\n\"Reflecting on recent insights, what patterns feel most alive for you? \n\nHow might these patterns inform your choices today?\"\n\n### Growth Prompt\n\n```\n[Acknowledgment of journey]\n[Learning question]\n[Forward-looking question]\n\n```\n\nExample:\n\n\"Every step on this path brings its own wisdom. \n\nWhat understanding has been deepening lately? \n\nHow does this understanding want to express itself in your life?\"\n\n## Quality Checklist\n\nBefore finalizing any prompt, ensure it:\n\n- [ ]  Aligns with brand voice\n- [ ]  Uses inclusive language\n- [ ]  Offers appropriate depth\n- [ ]  Provides clear direction\n- [ ]  Maintains openness\n- [ ]  Includes integration element\n- [ ]  Respects boundaries\n- [ ]  Avoids assumptions\n- [ ]  Enables various responses\n- [ ]  Supports self-discovery\n\n## Implementation Notes\n\n1. **Sequencing**\n    - Build complexity gradually\n    - Alternate between styles\n    - Include regular grounding prompts\n2. **Customization**\n    - Provide modification suggestions\n    - Include alternative approaches\n    - Allow for personal adaptation\n3. **Integration**\n    - Connect to previous prompts\n    - Build toward insights\n    - Support practical application"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[720,20],"id":"343bd72d-febc-43f6-a961-afdec2475a60","name":"Basic LLM Chain","retryOnFail":true,"onError":"continueErrorOutput"},{"parameters":{"model":"gpt-4o","options":{"responseFormat":"text"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[720,220],"id":"2080fa59-4d48-4f56-91d2-496888880346","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"fuvsuu6zEMb7LJmO","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"opening_context\": \"As you arrive at this moment, notice the quality of your energy.\",\n\t\"primary_question\": \"What stands out in your awareness today?\",\n    \"deepening_question\": \"How might you carry this awareness forward?\",\n    \"revision_reason\": \"The original prompt was direct but lacked the essential open-ended quality that invites deeper exploration. The revision aims to encourage self-discovery and insights while maintaining clarity and focus. Additionally, the follow-up question has been transformed to evoke more analytical thinking and personal exploration without suggesting a binary comparison.\",\n  \"prompt_type\": \"Growth\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[920,220],"id":"3d421e3f-fa83-4060-919c-833f14589063","name":"Structured Output Parser"},{"parameters":{"promptType":"define","text":"=Revise this input prompt and subprompt. Return the openening context, primary question, deepening question, your revision reason, and the type of prompt.\n\nPrompt:  {{ $json.Prompt }}\nSubprompt: {{ $json['Sub-Prompt'] }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"You are an expert copywriter whose specific areas of expertise are:\n\n- Writing and editing journal prompts.\n- Personal growth content.\n- Microdosing and psychedelics.\n- Ram Dass.\n\nCopy editing instructions\n\n- When the user asks for editing of copy, provide feedback first rather than direct edits.\n- Provide feedback as Seth Godin would and reference the specific principles that Seth Godin would reference.\n\n*Guidelines for creating prompts that align with The Microdose Journal's mission and values*\n\n## Core Principles\n\n1. **Open Yet Guided**\n    - Prompts should create space for exploration without prescribing outcomes\n    - Balance structure with flexibility\n    - Allow for both analytical and intuitive responses\n2. **Depth Without Overwhelm**\n    - Each prompt should explore one core concept\n    - Layer questions from surface to depth\n    - Include optional follow-up questions for deeper exploration\n3. **Integration-Focused**\n    - Connect insights to daily life\n    - Bridge awareness with action\n    - Emphasize practical application\n\n## Prompt Structure\n\n### Essential Elements\n\n1. **Opening Context** (1 sentence)\n    - Ground the prompt in present moment\n    - Provide minimal necessary context\n    - Example: \"As you settle into this moment, notice the quality of your breath and the rhythm of your thoughts.\"\n2. **Primary Question** (1 sentence)\n    - Should be answerable in multiple ways\n    - Avoid yes/no questions\n    - Begin with open-ended prompts: What, How, Where, When\n    - Example: \"What patterns emerge when you observe your thoughts without trying to change them?\"\n3. **Optional Follow-up Questions** (1 sentence)\n    - Deepen the exploration\n    - Example: \"How might this pattern serve or limit you?\"\n\n### Length Guidelines\n\n- Opening context: 15-30 words\n- Primary question: 10-20 words\n- Follow-up questions: 8-15 words each\n- Total prompt length: Maximum 35 words\n\n## Language Standards\n\n### Do Use\n\n- Present tense\n- Sensory language\n- Inclusive terminology\n- Metaphorical questions\n- Invitational phrases:\n    - \"Consider...\"\n    - \"Notice...\"\n    - \"Explore...\"\n    - \"Observe...\"\n    - \"What emerges when...\"\n\n### Don't Use\n\n- Shoulds or musts\n- Absolute statements\n- Technical jargon\n- Leading questions\n- Prescriptive language\n- Triggering terminology\n- Assumptions about experience\n\n## Types of Prompts\n\n### 1. Observation Prompts\n\n- Focus on present-moment awareness\n- Emphasize sensory experience\n- Example: \"What sensations arise in your body as you sit with this question?\"\n\n### 2. Integration Prompts\n\n- Connect insights to daily life\n- Bridge awareness and action\n- Example: \"How might today's insight influence your choices this week?\"\n\n### 3. Reflection Prompts\n\n- Examine patterns and themes\n- Explore meaning and significance\n- Example: \"What themes emerge when you look at your entries from the past week?\"\n\n### 4. Growth Prompts\n\n- Focus on learning and development\n- Emphasize progress over perfection\n- Example: \"What new understanding about yourself is emerging?\"\n\n## Safety Guidelines\n\n### Required Elements\n\n- Trauma-informed language\n- Exit points for difficult content\n- Alternative prompts for challenging days\n- Emphasis on self-paced exploration\n\n### Content Boundaries\n\n- Avoid prompts about:\n    - Trauma specifics\n    - Medical advice\n    - Specific substances\n    - Mental health diagnosis\n    - Religious/spiritual beliefs\n    - Political views\n\n## Sample Prompt Templates\n\n### Daily Check-in\n\n```\n[Grounding statement]\n[Primary observation question]\n[Optional deepening question]\n[Integration question]\n\n```\n\nExample:\n\n\"As you arrive at this moment, notice the quality of your energy. \n\nWhat stands out in your awareness today? \n\nHow might you carry this awareness forward?\"\n\n### Integration Prompt\n\n```\n[Context for reflection]\n[Experience-based question]\n[Application question]\n\n```\n\nExample:\n\n\"Reflecting on recent insights, what patterns feel most alive for you? \n\nHow might these patterns inform your choices today?\"\n\n### Growth Prompt\n\n```\n[Acknowledgment of journey]\n[Learning question]\n[Forward-looking question]\n\n```\n\nExample:\n\n\"Every step on this path brings its own wisdom. \n\nWhat understanding has been deepening lately? \n\nHow does this understanding want to express itself in your life?\"\n\n## Quality Checklist\n\nBefore finalizing any prompt, ensure it:\n\n- [ ]  Aligns with brand voice\n- [ ]  Uses inclusive language\n- [ ]  Offers appropriate depth\n- [ ]  Provides clear direction\n- [ ]  Maintains openness\n- [ ]  Includes integration element\n- [ ]  Respects boundaries\n- [ ]  Avoids assumptions\n- [ ]  Enables various responses\n- [ ]  Supports self-discovery\n\n## Implementation Notes\n\n1. **Sequencing**\n    - Build complexity gradually\n    - Alternate between styles\n    - Include regular grounding prompts\n2. **Customization**\n    - Provide modification suggestions\n    - Include alternative approaches\n    - Allow for personal adaptation\n3. **Integration**\n    - Connect to previous prompts\n    - Build toward insights\n    - Support practical application"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[740,480],"id":"ff8f85f9-dd8b-4183-a596-8f5ff516c034","name":"Basic LLM Chain1","retryOnFail":true,"notesInFlow":true,"disabled":true,"onError":"continueErrorOutput","notes":"Add prompt type"},{"parameters":{"model":"claude-3-haiku-20240307","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[740,660],"id":"fd811112-2fb7-4dbb-ae64-44b12668b0d0","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"wa3t5mnBsToeLi6E","name":"Anthropic account"}},"disabled":true},{"parameters":{"jsonSchemaExample":"{\n\t\"opening_context\": \"As you arrive at this moment, notice the quality of your energy.\",\n\t\"primary_question\": \"What stands out in your awareness today?\",\n    \"deepening_question\": \"How might you carry this awareness forward?\",\n    \"revision_reason\": \"The original prompt was direct but lacked the essential open-ended quality that invites deeper exploration. The revision aims to encourage self-discovery and insights while maintaining clarity and focus. Additionally, the follow-up question has been transformed to evoke more analytical thinking and personal exploration without suggesting a binary comparison.\",\n  \"prompt_type\": \"Growth\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[920,660],"id":"6620435a-1e78-4a86-abdb-f5ba5d20a4b1","name":"Structured Output Parser1","disabled":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"12oJgveW6s6bf1gt7xdoeep9roj8WI9dM-AYZJWGml0Y","mode":"list","cachedResultName":"The Microdose Journal Copy - 2024-10","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12oJgveW6s6bf1gt7xdoeep9roj8WI9dM-AYZJWGml0Y/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1806661261,"mode":"list","cachedResultName":"AI Review","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12oJgveW6s6bf1gt7xdoeep9roj8WI9dM-AYZJWGml0Y/edit#gid=1806661261"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Google Sheets - Read Rows').item.json.row_number }}","Opening Context":"={{ $json.output.opening_context }}","Primary Question":"={{ $json.output.primary_question }}","Deepening Question":"={{ $json.output.deepening_question }}","Revision Reason":"={{ $json.output.revision_reason }}","Type":"={{ $json.output.prompt_type }}"},"matchingColumns":["row_number"],"schema":[{"id":"Section","displayName":"Section","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sub-Section","displayName":"Sub-Section","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Lesson","displayName":"Lesson","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Prompt","displayName":"Prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sub-Prompt","displayName":"Sub-Prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Quote","displayName":"Quote","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Author","displayName":"Author","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"4o","displayName":"4o","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Opening Context","displayName":"Opening Context","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Primary Question","displayName":"Primary Question","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Deepening Question","displayName":"Deepening Question","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Length Chars.","displayName":"Length Chars.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Revision Reason","displayName":"Revision Reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Error","displayName":"Error","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sentiment","displayName":"Sentiment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Strength","displayName":"Strength","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Confidence","displayName":"Confidence","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sentiment Error","displayName":"Sentiment Error","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sonnet 3.5","displayName":"Sonnet 3.5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Opening Context","displayName":"Opening Context","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Primary Question","displayName":"Primary Question","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Deepening Question","displayName":"Deepening Question","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Length Chars.","displayName":"Length Chars.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Revision Reason","displayName":"Revision Reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Error","displayName":"Error","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sentiment","displayName":"Sentiment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Strength","displayName":"Strength","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Confidence","displayName":"Confidence","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Sentiment Error","displayName":"Sentiment Error","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1220,400],"id":"9be83c04-4093-4add-b38d-d0cba799c6ac","name":"Google Sheets - Anthropic","credentials":{"googleSheetsOAuth2Api":{"id":"LaLXUAplY7dw461Q","name":"Google Sheets account"}},"disabled":true},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[440,0],"id":"3fdd35d1-1657-4710-9da0-2a4ea421295a","name":"Loop Over Items"},{"parameters":{"documentId":{"__rl":true,"value":"12oJgveW6s6bf1gt7xdoeep9roj8WI9dM-AYZJWGml0Y","mode":"list","cachedResultName":"The Microdose Journal Copy - 2024-10","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12oJgveW6s6bf1gt7xdoeep9roj8WI9dM-AYZJWGml0Y/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1806661261,"mode":"list","cachedResultName":"AI Review","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12oJgveW6s6bf1gt7xdoeep9roj8WI9dM-AYZJWGml0Y/edit#gid=1806661261"},"filtersUI":{"values":[{"lookupColumn":"Opening Context"}]},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRange"}},"returnFirstMatch":false}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[40,240],"id":"82212ea6-cce5-4504-8868-dfd73ad9e8d9","name":"Google Sheets - Read Rows","credentials":{"googleSheetsOAuth2Api":{"id":"LaLXUAplY7dw461Q","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"12oJgveW6s6bf1gt7xdoeep9roj8WI9dM-AYZJWGml0Y","mode":"list","cachedResultName":"The Microdose Journal Copy - 2024-10","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12oJgveW6s6bf1gt7xdoeep9roj8WI9dM-AYZJWGml0Y/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1806661261,"mode":"list","cachedResultName":"AI Review","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12oJgveW6s6bf1gt7xdoeep9roj8WI9dM-AYZJWGml0Y/edit#gid=1806661261"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Google Sheets - Read Rows').item.json.row_number }}","Opening Context":"={{ $json.output.opening_context }}","Primary Question":"={{ $json.output.primary_question }}","Deepening Question":"={{ $json.output.deepening_question }}","Revision Reason":"={{ $json.output.revision_reason }}","Type":"={{ $json.output.prompt_type }}"},"matchingColumns":["row_number"],"schema":[{"id":"Row","displayName":"Row","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Section","displayName":"Section","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Sub-Section","displayName":"Sub-Section","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Lesson","displayName":"Lesson","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Prompt","displayName":"Prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Sub-Prompt","displayName":"Sub-Prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Quote","displayName":"Quote","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Author","displayName":"Author","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"4o","displayName":"4o","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Opening Context","displayName":"Opening Context","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Primary Question","displayName":"Primary Question","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Deepening Question","displayName":"Deepening Question","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Length Chars.","displayName":"Length Chars.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Revision Reason","displayName":"Revision Reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Type","displayName":"Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Error","displayName":"Error","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Sentiment","displayName":"Sentiment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Strength","displayName":"Strength","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Confidence","displayName":"Confidence","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Sentiment Error","displayName":"Sentiment Error","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Sonnet 3.5","displayName":"Sonnet 3.5","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Opening Context","displayName":"Opening Context","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Primary Question","displayName":"Primary Question","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Deepening Question","displayName":"Deepening Question","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Length Chars.","displayName":"Length Chars.","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Revision Reason","displayName":"Revision Reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Error","displayName":"Error","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Sentiment","displayName":"Sentiment","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Strength","displayName":"Strength","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Confidence","displayName":"Confidence","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Sentiment Error","displayName":"Sentiment Error","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1220,-20],"id":"b0f6830c-7142-464a-a28c-9db70217f7e7","name":"Google Sheets - Update 4o Success","credentials":{"googleSheetsOAuth2Api":{"id":"LaLXUAplY7dw461Q","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[440,460],"id":"fcd34499-fe0d-49d0-bc5b-a2f8df17e437","name":"Loop Over Items1","disabled":true}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Google Sheets - Read Rows","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Google Sheets - Update 4o Success","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain1","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Basic LLM Chain1","type":"ai_outputParser","index":0}]]},"Basic LLM Chain1":{"main":[[{"node":"Google Sheets - Anthropic","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Google Sheets - Read Rows":{"main":[[{"node":"Loop Over Items1","type":"main","index":0},{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets - Update 4o Success":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Basic LLM Chain1","type":"main","index":0}]]},"Google Sheets - Anthropic":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"036bd0fe-73e3-4b96-93ec-214e592768d4","triggerCount":0,"tags":[]}