workflows/Best Self Reviews Extract/Analyze/Load.json
{"createdAt":"2024-11-20T23:46:39.757Z","updatedAt":"2024-11-26T19:02:33.000Z","id":"lj8SMQEAW2QM4sXN","name":"Best Self Reviews Extract/Analyze/Load","active":false,"nodes":[{"parameters":{"url":"=https://cdn.fera.ai/api/v3/public/products/{{ $json.external_id }}/reviews.json","sendQuery":true,"queryParameters":{"parameters":[{"name":"include_product","value":"true"},{"name":"limit","value":"100"},{"name":"include_aggregate_rating","value":"true"},{"name":"sort_by","value":"created_at"},{"name":"page_size","value":"100"},{"name":"client","value":"fjs-3.3.6"},{"name":"api_key","value":"pk_46ee25bdb18dd27c00a1bebafa256ce28fd27b4b12f80f9eec58feb7205219e4"}]},"options":{"pagination":{"pagination":{"parameters":{"parameters":[{"name":"offset","value":"={{ $pageCount * 100 }}"}]},"limitPagesFetched":true,"maxRequests":10}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,0],"id":"fd13416f-e899-47ea-a59b-4d39b61df92e","name":"HTTP Request"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1LVBKto0fdqA45VyDqZhJVR9HEhtrOnmR5_lYZP6TVL8","mode":"list","cachedResultName":"Best Self Product Review Analysis","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1LVBKto0fdqA45VyDqZhJVR9HEhtrOnmR5_lYZP6TVL8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"products","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1LVBKto0fdqA45VyDqZhJVR9HEhtrOnmR5_lYZP6TVL8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"external_id":"={{ $json.product.external_id }}","id":"={{ $json.product.id }}","name":"={{ $json.product.name }}","url":"={{ $json.product.url }}","handle":"={{ $json.product.handle }}","thumbnail_url":"={{ $json.product.thumbnail_url }}","rating":"={{ $json.product.rating.average }}","is_visible":"={{ $json.product.is_visible }}","tags":"={{ $json.product.tags }}","last_retrieved":"={{ $now }}"},"matchingColumns":["external_id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"external_id","displayName":"external_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"handle","displayName":"handle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"thumbnail_url","displayName":"thumbnail_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"rating","displayName":"rating","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"is_visible","displayName":"is_visible","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tags","displayName":"tags","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"last_retrieved","displayName":"last_retrieved","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[440,-240],"id":"653eb5cd-ae13-47ff-a536-ed991c8badb6","name":"Upsert Products","credentials":{"googleSheetsOAuth2Api":{"id":"LaLXUAplY7dw461Q","name":"Google Sheets account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1LVBKto0fdqA45VyDqZhJVR9HEhtrOnmR5_lYZP6TVL8","mode":"list","cachedResultName":"Best Self Product Review Analysis","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1LVBKto0fdqA45VyDqZhJVR9HEhtrOnmR5_lYZP6TVL8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1158582766,"mode":"list","cachedResultName":"customers","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1LVBKto0fdqA45VyDqZhJVR9HEhtrOnmR5_lYZP6TVL8/edit#gid=1158582766"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.customer.id }}","display_name":"={{ $json.customer.display_name }}","is_anonymous":"={{ $json.customer.is_anonymous }}","display_location":"={{ $json.customer.display_location }}","avatar_url":"={{ $json.customer.avatar_url }}","default_avatar_url":"={{ $json.customer.default_avatar_url }}","is_verified":"={{ $json.customer.is_verified }}","is_from_supplier":"={{ $json.customer.is_from_supplier }}","company_name":"={{ $json.customer.company_name }}","created_at":"={{ $json.customer.created_at }}","updated_at":"={{ $json.customer.updated_at }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"display_name","displayName":"display_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"is_anonymous","displayName":"is_anonymous","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"display_location","displayName":"display_location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"avatar_url","displayName":"avatar_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"default_avatar_url","displayName":"default_avatar_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"default_avatar_url","displayName":"default_avatar_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"is_verified","displayName":"is_verified","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"is_from_supplier","displayName":"is_from_supplier","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"company_name","displayName":"company_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[740,-240],"id":"76be324e-e115-4f0c-8361-23cfae4aa6c3","name":"Upsert Customer","alwaysOutputData":false,"credentials":{"googleSheetsOAuth2Api":{"id":"LaLXUAplY7dw461Q","name":"Google Sheets account"}},"disabled":true},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet arr = [];\n\nfor (const item of $input.all()) {\n  for (const data of item.json.data) {\n    arr.push(data)\n  }\n}\n\nreturn arr"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[660,0],"id":"98b18936-c753-4a22-9d18-3e193496784c","name":"Code","notesInFlow":true,"notes":"Separate the review items and return as array."},{"parameters":{"content":"Disabled because customer.id is not returned and upserts will cause duplication without it.","height":280,"width":300},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[640,-320],"id":"a437195a-fe6a-4df3-89e5-c5d34d9f3bca","name":"Sticky Note"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1LVBKto0fdqA45VyDqZhJVR9HEhtrOnmR5_lYZP6TVL8","mode":"list","cachedResultName":"Best Self Product Review Analysis","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1LVBKto0fdqA45VyDqZhJVR9HEhtrOnmR5_lYZP6TVL8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1872596303,"mode":"list","cachedResultName":"reviews","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1LVBKto0fdqA45VyDqZhJVR9HEhtrOnmR5_lYZP6TVL8/edit#gid=1872596303"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","product_id":"={{ $json.product_id }}","customer_id":"={{ $json.customer.id }}","subject":"={{ $json.subject }}","is_verified":"={{ $json.is_verified }}","is_test":"={{ $json.is_test }}","external_product_id":"={{ $json.external_product_id }}","created_at":"={{ $json.created_at }}","updated_at":"={{ $json.updated_at }}","rating":"={{ $json.rating }}","heading":"={{ $json.heading }}","body":"={{ $json.body }}","is_anonymous":"={{ $json.is_anonymous }}","channel_code":"={{ $json.channel_code }}","channel_url":"={{ $json.channel_url }}","channel":"={{ $json.channel }}","is_from_supplier":"={{ $json.is_from_supplier }}","external_id":"={{ $json.external_id }}","site_front_url":"={{ $json.site_front_url }}","store_reply":"={{ $json.store_reply }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"product_id","displayName":"product_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"customer_id","displayName":"customer_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"subject","displayName":"subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"is_verified","displayName":"is_verified","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"is_test","displayName":"is_test","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"external_product_id","displayName":"external_product_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"rating","displayName":"rating","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"heading","displayName":"heading","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"body","displayName":"body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"is_anonymous","displayName":"is_anonymous","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"channel_code","displayName":"channel_code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"channel_url","displayName":"channel_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"channel","displayName":"channel","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"is_from_supplier","displayName":"is_from_supplier","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"external_id","displayName":"external_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"site_front_url","displayName":"site_front_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"store_reply","displayName":"store_reply","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[920,0],"id":"e3edb7d6-e13b-48e2-9916-7c1e6d9c881f","name":"Upsert Reviews","credentials":{"googleSheetsOAuth2Api":{"id":"LaLXUAplY7dw461Q","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=product_name: {{ $('Code').item.json.product.name }}\nreview_title: {{ $('Code').item.json.heading }}\nreview_body: {{ $('Code').item.json.body }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"You are an expert product manager performing product review analysis.\n\nWhen provided with customer reviews of a product, identify the following:\n- review sentiment as a score:\n    - score: [negative, neutral, positive]\n    - confidence: [0.0] (a value from 0 to 1)\n    - reason: The reason for the score and confidence\n- primary customer pain point solved by the product which can be a marketing opportunity. If a customer pain point is not mentioned, exclude this.\n    - pain point: description of pain point\n    - marketing opportunity: description of marketing opportunity\n- primary product improvement opportunity which can be used for improving this or future products. If product improvement opportunities are not mentioned, do not include this.\n- pricing sentiment: the sentiment of the customer to the price of the product. If pricing is not mentioned, exclude this section.\n    - score: [positive, negative, neutral]\n    - confidence: [0.0] (a value from 0 to 1)\n    - reason: The reason for the score and confidence\n\nProduct Review Format:\nproduct name: {{ product_name }}\nreview title: {{ review_title }}\nreview body: {{ review_body }}\n\nBe concise!"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[1960,0],"id":"13d720bd-cf37-42fa-92ed-da1b9f79dfae","name":"Basic LLM Chain","onError":"continueRegularOutput"},{"parameters":{"model":"gpt-4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1980,240],"id":"d7a27e16-4c53-462a-bb0c-f40f73c8b3da","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"fuvsuu6zEMb7LJmO","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"review_sentiment\": {\n    \"score\": \"positive\",\n    \"confidence\": 0.8,\n    \"reason\": \"The reviewer expresses continued use and appreciation for the product, despite some criticism of the price and packaging.\"\n  },\n  \"primary_customer_pain_point_solved\": {\n    \"pain_point\": \"A tool that supports long-term engagement in fostering intimacy.\",\n    \"marketing_opportunity\": \"Highlight the product's longevity and value in building lasting connections, showcasing customer loyalty over years of use.\"\n  },\n  \"primary_product_improvement_opportunity\": {\n    \"opportunity\": \"Simplify packaging and reduce extra items included to address concerns about unnecessary materials.\"\n  },\n  \"pricing_sentiment\": {\n    \"score\": \"negative\",\n    \"confidence\": 0.9,\n    \"reason\": \"The reviewer explicitly states that the product feels overpriced for what it is, suggesting dissatisfaction with the perceived value.\"\n  }\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2140,240],"id":"8bdbf2b2-2268-4a42-b254-188c8e719b24","name":"Structured Output Parser"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1LVBKto0fdqA45VyDqZhJVR9HEhtrOnmR5_lYZP6TVL8","mode":"list","cachedResultName":"Best Self Product Review Analysis","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1LVBKto0fdqA45VyDqZhJVR9HEhtrOnmR5_lYZP6TVL8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1231528528,"mode":"list","cachedResultName":"review analysis","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1LVBKto0fdqA45VyDqZhJVR9HEhtrOnmR5_lYZP6TVL8/edit#gid=1231528528"},"columns":{"mappingMode":"defineBelow","value":{"review_id":"={{ $('Upsert Reviews').item.json.id }}","review_sentiment_score":"={{ $json.output.review_sentiment.score }}","review_sentiment_confidence":"={{ $json.output.review_sentiment.confidence }}","review_sentiment_reason":"={{ $json.output.review_sentiment.reason }}","primary_customer_pain_point":"={{ $json.output.primary_customer_pain_point_solved.pain_point }}","primary_customer_paint_point_marketing_opportunity":"={{ $json.output.primary_customer_pain_point_solved.marketing_opportunity }}","pricing_sentiment_score":"={{ $json.output.pricing_sentiment.score }}","pricing_sentiment_confidence":"={{ $json.output.pricing_sentiment.confidence }}","pricing_sentiment_reason":"={{ $json.output.pricing_sentiment.reason }}","product_improvement_opportunity":"={{ $json.output.primary_product_improvement_opportunity.opportunity }}"},"matchingColumns":["review_id"],"schema":[{"id":"review_id","displayName":"review_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"review_sentiment_score","displayName":"review_sentiment_score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"review_sentiment_confidence","displayName":"review_sentiment_confidence","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"review_sentiment_reason","displayName":"review_sentiment_reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"primary_customer_pain_point","displayName":"primary_customer_pain_point","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"primary_customer_paint_point_marketing_opportunity","displayName":"primary_customer_paint_point_marketing_opportunity","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"pricing_sentiment_score","displayName":"pricing_sentiment_score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"pricing_sentiment_confidence","displayName":"pricing_sentiment_confidence","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"pricing_sentiment_reason","displayName":"pricing_sentiment_reason","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"product_improvement_opportunity","displayName":"product_improvement_opportunity","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2320,0],"id":"73286959-f280-4780-b924-24e5c00b1410","name":"Upsert Review Analyses","credentials":{"googleSheetsOAuth2Api":{"id":"LaLXUAplY7dw461Q","name":"Google Sheets account"}}},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"best-self-reviews","mode":"list","cachedResultName":"best-self-reviews"},"options":{"pineconeNamespace":"intimacy-deck"}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1,"position":[2520,-20],"id":"ec83f7d4-905d-41ba-afab-aab2d6837d9b","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"CiaYoNtLPTqdV1XQ","name":"PineconeApi account"}},"onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[2480,240],"id":"ff4d5739-4e96-4579-b337-7723cd8ccdc4","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"fuvsuu6zEMb7LJmO","name":"OpenAi account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $('Upsert Reviews').item.json.body }}","options":{"metadata":{"metadataValues":[{"name":"sentiment_score","value":"={{ $json.review_sentiment_score }}"},{"name":"sentiment_confidence","value":"={{ $json.review_sentiment_confidence }}"},{"name":"sentiment_reason","value":"={{ $json.review_sentiment_reason }}"},{"name":"review_id","value":"={{ $('Upsert Reviews').item.json.id }}"},{"name":"created_at","value":"={{ $('Upsert Reviews').item.json.created_at }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[2620,220],"id":"65e3d91d-0c11-4cf0-bf4c-c7c09fbd281d","name":"Default Data Loader"},{"parameters":{"chunkOverlap":50},"type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[2680,400],"id":"0f03c9b4-8705-4b41-b5f3-5b8857077af4","name":"Character Text Splitter"},{"parameters":{"batchSize":25,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1760,0],"id":"d2746312-3557-4f36-9ba9-482b4a09f8b8","name":"Loop Over Items"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C082HU8JKLL","mode":"list","cachedResultName":"best-self"},"text":"Extract of reviews has completed!","otherOptions":{"includeLinkToWorkflow":true}},"type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[1980,-300],"id":"9bbcdeee-cf11-45cb-88b9-131d7a6ba68a","name":"Slack","webhookId":"1a1e0857-18bb-40fb-b091-d568bcc49236","executeOnce":true,"credentials":{"slackApi":{"id":"jDu3BYKRFMML8nom","name":"Slack account"}}},{"parameters":{"content":"- [x] only summarize reviews without summaries\n- [x] iterate over products\n- [ ] schedule to run monthly\n- [ ] track date retrieved by product\n- [ ] filter API request on cursor date/time\n- [x] trigger summarization workflow at the end","height":180,"width":540,"color":7},"type":"n8n-nodes-base.stickyNote","position":[540,380],"typeVersion":1,"id":"11a7902d-ed75-4d9e-8398-404620adea62","name":"Sticky Note1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"0df210ef-3dda-4305-be24-9b6532282e6b","name":"When clicking ‘Test workflow’"},{"parameters":{"content":"## Extract","height":760,"width":1220,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-140,-460],"id":"a427afac-0efc-46d8-a583-0822f38c2a85","name":"Sticky Note2"},{"parameters":{"content":"## Batch Transform and Load","height":1040,"width":1800,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1120,-460],"id":"1873fd7a-39aa-4ea3-84f7-5f08346e5d5e","name":"Sticky Note3"},{"parameters":{"workflowId":{"__rl":true,"value":"0Q2rIg92kKu4EkKf","mode":"list","cachedResultName":"Best Self Review Summary Analyzer"},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.1,"position":[2200,-300],"id":"d9ff9dfb-be44-49fd-adc0-d7301a0f0acf","name":"Trigger AI Summarization","executeOnce":true},{"parameters":{"documentId":{"__rl":true,"value":"1LVBKto0fdqA45VyDqZhJVR9HEhtrOnmR5_lYZP6TVL8","mode":"list","cachedResultName":"Best Self Product Review Analysis","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1LVBKto0fdqA45VyDqZhJVR9HEhtrOnmR5_lYZP6TVL8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1872596303,"mode":"list","cachedResultName":"reviews","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1LVBKto0fdqA45VyDqZhJVR9HEhtrOnmR5_lYZP6TVL8/edit#gid=1872596303"},"filtersUI":{"values":[{"lookupColumn":"has_analysis","lookupValue":"false"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1160,0],"id":"deac2baf-7588-449e-ba58-88a51ef4a1ed","name":"Retrieve Un-Summarized Reviews","executeOnce":true,"credentials":{"googleSheetsOAuth2Api":{"id":"LaLXUAplY7dw461Q","name":"Google Sheets account"}},"notes":"Get reviews without analysis"},{"parameters":{"maxItems":100},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[1380,0],"id":"d2074ef5-ca08-4e0a-bfca-6aa03115961b","name":"Limit"},{"parameters":{"documentId":{"__rl":true,"value":"1LVBKto0fdqA45VyDqZhJVR9HEhtrOnmR5_lYZP6TVL8","mode":"list","cachedResultName":"Best Self Product Review Analysis","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1LVBKto0fdqA45VyDqZhJVR9HEhtrOnmR5_lYZP6TVL8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"products","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1LVBKto0fdqA45VyDqZhJVR9HEhtrOnmR5_lYZP6TVL8/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[220,0],"id":"d326653e-eb16-44cc-92d2-7be61218be81","name":"Get Products","credentials":{"googleSheetsOAuth2Api":{"id":"LaLXUAplY7dw461Q","name":"Google Sheets account"}}}],"connections":{"HTTP Request":{"main":[[{"node":"Upsert Products","type":"main","index":0},{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Upsert Customer","type":"main","index":0},{"node":"Upsert Reviews","type":"main","index":0}]]},"Upsert Customer":{"main":[[]]},"Upsert Reviews":{"main":[[{"node":"Retrieve Un-Summarized Reviews","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Upsert Review Analyses","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Upsert Review Analyses":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Slack","type":"main","index":0}],[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Pinecone Vector Store":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Get Products","type":"main","index":0}]]},"Slack":{"main":[[{"node":"Trigger AI Summarization","type":"main","index":0}]]},"Retrieve Un-Summarized Reviews":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get Products":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Upsert Customer":[{"json":{"id":"frev_vA86QW8","subject":"product","is_verified":null,"is_test":null,"external_product_id":"3936470696005","product_id":"fpro_ISh7Ziop","created_at":"2024-02-13T21:14:56.000Z","updated_at":"2024-09-27T00:12:38.324Z","rating":4,"heading":null,"body":"I like it and have used it for years and am coming back after a short break. It is a bit overpriced for a notebook in my opinion, and there is too much packaging, extra misc. items that come with it imo but overall I am a fan, thank you","is_anonymous":0,"channel_code":null,"channel_url":null,"channel":null,"is_from_supplier":null,"external_id":"f3ff90096535789be542aee024249b7a819249a7cc8ad70e380542bcac53fe4d","site_front_url":"https://bestself.co/products/intimacy-deck?fera=showReview&feraId=frev_vA86QW8&utm_source=fera","store_reply":null,"counts":{"media":0,"photos":0,"videos":0},"product":{"id":"fpro_ISh7Ziop","external_id":"3936470696005","name":"Intimacy Deck","url":"https://bestself.co/products/intimacy-deck","handle":"intimacy-deck","thumbnail_url":"https://cdn.shopify.com/s/files/1/1015/4487/files/intimacy-deck-card-deck-romantic-connection-580728_150x150.jpg?v=1732151299","rating":{"average":4.8,"count":870,"counts":[13,18,19,53,767]},"counts":{"reviews":870,"media":0,"photos":0,"videos":0},"is_visible":true,"tags":["BYOB","Conversation Decks","Deepening Connection","Romantic Relationships","Tier A"]},"customer":{"id":null,"display_name":"Anonymous","is_anonymous":true,"display_location":"Chicago, Illinois, United States","avatar_url":"https://people.pic1.co/api/public/avatars/46424549357142367a77757046374759536f75306b344a415a7233547238797251517a6d365a30416b724e766d752f756e4975363177755a6c687a434c715944","default_avatar_url":"https://people.pic1.co/api/public/avatars/46424549357142367a77757046374759536f75306b344a415a7233547238797251517a6d365a30416b724e766d752f756e4975363177755a6c687a434c715944","rating":{"count":1,"average":4},"channel":null,"is_verified":false,"is_from_supplier":false,"company_name":null,"counts":{"reviews":1,"average_rating":4,"media":0},"created_at":"2024-02-13T21:14:56.000+00:00","updated_at":"2024-09-27T00:12:38.324+00:00"},"media":[]}},{"json":{"id":"frev_vA891bE","subject":"product","is_verified":null,"is_test":null,"external_product_id":"3936470696005","product_id":"fpro_ISh7Ziop","created_at":"2024-02-11T06:17:41.000Z","updated_at":"2024-09-27T00:12:38.796Z","rating":5,"heading":null,"body":"Amazing way to start to gain greater insight into your relationship! Best money I ever spent!!!","is_anonymous":0,"channel_code":null,"channel_url":null,"channel":null,"is_from_supplier":null,"external_id":"8219ee75ae6c4f761967d92e0f4d2c51b0522fe3a1a640e43dd01b9b07efb478","site_front_url":"https://bestself.co/products/intimacy-deck?fera=showReview&feraId=frev_vA891bE&utm_source=fera","store_reply":null,"counts":{"media":0,"photos":0,"videos":0},"product":{"id":"fpro_ISh7Ziop","external_id":"3936470696005","name":"Intimacy Deck","url":"https://bestself.co/products/intimacy-deck","handle":"intimacy-deck","thumbnail_url":"https://cdn.shopify.com/s/files/1/1015/4487/files/intimacy-deck-card-deck-romantic-connection-580728_150x150.jpg?v=1732151299","rating":{"average":4.8,"count":870,"counts":[13,18,19,53,767]},"counts":{"reviews":870,"media":0,"photos":0,"videos":0},"is_visible":true,"tags":["BYOB","Conversation Decks","Deepening Connection","Romantic Relationships","Tier A"]},"customer":{"id":null,"display_name":"Anonymous","is_anonymous":true,"display_location":"Concord, California, United States","avatar_url":"https://people.pic1.co/api/public/avatars/38376d4953436945674b6c6f6467482f7673364774335070454c5a577a624a56557774483479456f6c5567616a6d684c6844444a76482f513350316a706a6c74","default_avatar_url":"https://people.pic1.co/api/public/avatars/38376d4953436945674b6c6f6467482f7673364774335070454c5a577a624a56557774483479456f6c5567616a6d684c6844444a76482f513350316a706a6c74","rating":{"count":1,"average":5},"channel":null,"is_verified":false,"is_from_supplier":false,"company_name":null,"counts":{"reviews":1,"average_rating":5,"media":0},"created_at":"2024-02-11T06:17:41.000+00:00","updated_at":"2024-09-27T00:12:38.796+00:00"},"media":[]}},{"json":{"id":"frev_vA8AkzI","subject":"product","is_verified":null,"is_test":null,"external_product_id":"3936470696005","product_id":"fpro_ISh7Ziop","created_at":"2024-02-11T02:50:59.000Z","updated_at":"2024-09-27T00:12:38.902Z","rating":5,"heading":null,"body":"Wanna spice things up? This should do the trick,,, must have for couples!","is_anonymous":null,"channel_code":null,"channel_url":null,"channel":null,"is_from_supplier":null,"external_id":"578191722330add5a38d524ff1b208ebb69d2993f36a382d11f4e745e0c24560","site_front_url":"https://bestself.co/products/intimacy-deck?fera=showReview&feraId=frev_vA8AkzI&utm_source=fera","store_reply":null,"counts":{"media":0,"photos":0,"videos":0},"product":{"id":"fpro_ISh7Ziop","external_id":"3936470696005","name":"Intimacy Deck","url":"https://bestself.co/products/intimacy-deck","handle":"intimacy-deck","thumbnail_url":"https://cdn.shopify.com/s/files/1/1015/4487/files/intimacy-deck-card-deck-romantic-connection-580728_150x150.jpg?v=1732151299","rating":{"average":4.8,"count":870,"counts":[13,18,19,53,767]},"counts":{"reviews":870,"media":0,"photos":0,"videos":0},"is_visible":true,"tags":["BYOB","Conversation Decks","Deepening Connection","Romantic Relationships","Tier A"]},"customer":{"id":null,"display_name":"Justin","is_anonymous":false,"display_location":"Boardman, Oregon, United States","avatar_url":"https://people.pic1.co/api/public/avatars/685a597a61704e6d4d7a3243745458533052376d654b494c6b4b4259494756444d7a4d545243596b344c5079676c497a7878683862413d","default_avatar_url":"https://people.pic1.co/api/public/avatars/685a597a61704e6d4d7a3243745458533052376d654b494c6b4b4259494756444d7a4d545243596b344c5079676c497a7878683862413d","rating":{"count":1,"average":5},"channel":null,"is_verified":false,"is_from_supplier":false,"company_name":null,"counts":{"reviews":1,"average_rating":5,"media":0},"created_at":"2024-02-11T02:50:59.000+00:00","updated_at":"2024-09-27T00:12:38.902+00:00"},"media":[]}},{"json":{"id":"frev_vA8EDlQ","subject":"product","is_verified":null,"is_test":null,"external_product_id":"3936470696005","product_id":"fpro_ISh7Ziop","created_at":"2024-02-03T20:59:53.000Z","updated_at":"2024-09-27T00:12:39.179Z","rating":5,"heading":null,"body":"Pretty awesome game great conversation piece..","is_anonymous":null,"channel_code":null,"channel_url":null,"channel":null,"is_from_supplier":null,"external_id":"d85c2ac22c69278e258240213bf020d1363ce49c3140115d9a43a22ef4832c61","site_front_url":"https://bestself.co/products/intimacy-deck?fera=showReview&feraId=frev_vA8EDlQ&utm_source=fera","store_reply":null,"counts":{"media":0,"photos":0,"videos":0},"product":{"id":"fpro_ISh7Ziop","external_id":"3936470696005","name":"Intimacy Deck","url":"https://bestself.co/products/intimacy-deck","handle":"intimacy-deck","thumbnail_url":"https://cdn.shopify.com/s/files/1/1015/4487/files/intimacy-deck-card-deck-romantic-connection-580728_150x150.jpg?v=1732151299","rating":{"average":4.8,"count":870,"counts":[13,18,19,53,767]},"counts":{"reviews":870,"media":0,"photos":0,"videos":0},"is_visible":true,"tags":["BYOB","Conversation Decks","Deepening Connection","Romantic Relationships","Tier A"]},"customer":{"id":null,"display_name":"Jeff","is_anonymous":false,"display_location":"Boardman, Oregon, United States","avatar_url":"https://people.pic1.co/api/public/avatars/4e7941394639514772756432687a575541515a6f46575754644e74544f33796f464459696a523354792f575a5170333077794b2f30513d","default_avatar_url":"https://people.pic1.co/api/public/avatars/4e7941394639514772756432687a575541515a6f46575754644e74544f33796f464459696a523354792f575a5170333077794b2f30513d","rating":{"count":1,"average":5},"channel":null,"is_verified":false,"is_from_supplier":false,"company_name":null,"counts":{"reviews":1,"average_rating":5,"media":0},"created_at":"2024-02-03T20:59:53.000+00:00","updated_at":"2024-09-27T00:12:39.179+00:00"},"media":[]}},{"json":{"id":"frev_vA8Fx9U","subject":"product","is_verified":null,"is_test":null,"external_product_id":"3936470696005","product_id":"fpro_ISh7Ziop","created_at":"2024-01-31T16:02:36.000Z","updated_at":"2024-09-27T00:12:39.536Z","rating":5,"heading":"Cute","body":"Fun game to just keep things fun and exciting","is_anonymous":null,"channel_code":null,"channel_url":null,"channel":null,"is_from_supplier":null,"external_id":"7b334f3eac67f67482550a9893026852956e49c940c7cbe32d7d54d54bcb0c79","site_front_url":"https://bestself.co/products/intimacy-deck?fera=showReview&feraId=frev_vA8Fx9U&utm_source=fera","store_reply":null,"counts":{"media":0,"photos":0,"videos":0},"product":{"id":"fpro_ISh7Ziop","external_id":"3936470696005","name":"Intimacy Deck","url":"https://bestself.co/products/intimacy-deck","handle":"intimacy-deck","thumbnail_url":"https://cdn.shopify.com/s/files/1/1015/4487/files/intimacy-deck-card-deck-romantic-connection-580728_150x150.jpg?v=1732151299","rating":{"average":4.8,"count":870,"counts":[13,18,19,53,767]},"counts":{"reviews":870,"media":0,"photos":0,"videos":0},"is_visible":true,"tags":["BYOB","Conversation Decks","Deepening Connection","Romantic Relationships","Tier A"]},"customer":{"id":null,"display_name":"Rachel","is_anonymous":false,"display_location":"Boardman, Oregon, United States","avatar_url":"https://people.pic1.co/api/public/avatars/36786a7637366b6f66566448796b7a5275472f32634639523142376848466c35374c4c51766b593342626a5365326a5349665a5838673d","default_avatar_url":"https://people.pic1.co/api/public/avatars/36786a7637366b6f66566448796b7a5275472f32634639523142376848466c35374c4c51766b593342626a5365326a5349665a5838673d","rating":{"count":1,"average":5},"channel":null,"is_verified":false,"is_from_supplier":false,"company_name":null,"counts":{"reviews":1,"average_rating":5,"media":0},"created_at":"2024-01-31T16:02:36.000+00:00","updated_at":"2024-09-27T00:12:39.536+00:00"},"media":[]}},{"json":{"id":"frev_vA8HgXY","subject":"product","is_verified":null,"is_test":null,"external_product_id":"3936470696005","product_id":"fpro_ISh7Ziop","created_at":"2024-01-23T22:35:02.000Z","updated_at":"2024-09-27T00:12:39.888Z","rating":5,"heading":"Great opportunity for growth as a couple","body":"It's super fun to use and I felt motivated to use it!","is_anonymous":null,"channel_code":null,"channel_url":null,"channel":null,"is_from_supplier":null,"external_id":"b8534cd9f4985026698e05d723a6c78dd38259e28337e4779c9461abacb2d050","site_front_url":"https://bestself.co/products/intimacy-deck?fera=showReview&feraId=frev_vA8HgXY&utm_source=fera","store_reply":null,"counts":{"media":0,"photos":0,"videos":0},"product":{"id":"fpro_ISh7Ziop","external_id":"3936470696005","name":"Intimacy Deck","url":"https://bestself.co/products/intimacy-deck","handle":"intimacy-deck","thumbnail_url":"https://cdn.shopify.com/s/files/1/1015/4487/files/intimacy-deck-card-deck-romantic-connection-580728_150x150.jpg?v=1732151299","rating":{"average":4.8,"count":870,"counts":[13,18,19,53,767]},"counts":{"reviews":870,"media":0,"photos":0,"videos":0},"is_visible":true,"tags":["BYOB","Conversation Decks","Deepening Connection","Romantic Relationships","Tier A"]},"customer":{"id":null,"display_name":"Dora F.","is_anonymous":false,"display_location":"Concord, Massachusetts, United States","avatar_url":"https://people.pic1.co/api/public/avatars/41432b716776476c6b6d36367a6a45385370366b55713230413677335861354945394666474356764f683351776a6471774c78546479304b792b6a49595862506e2f7975326d5352487134","default_avatar_url":"https://people.pic1.co/api/public/avatars/41432b716776476c6b6d36367a6a45385370366b55713230413677335861354945394666474356764f683351776a6471774c78546479304b792b6a49595862506e2f7975326d5352487134","rating":{"count":1,"average":5},"channel":null,"is_verified":false,"is_from_supplier":false,"company_name":null,"counts":{"reviews":1,"average_rating":5,"media":0},"created_at":"2024-01-23T22:35:02.000+00:00","updated_at":"2024-09-27T00:12:39.888+00:00"},"media":[]}},{"json":{"id":"frev_vA8JPvc","subject":"product","is_verified":null,"is_test":null,"external_product_id":"3936470696005","product_id":"fpro_ISh7Ziop","created_at":"2024-01-19T23:53:46.000Z","updated_at":"2024-09-27T00:12:40.001Z","rating":5,"heading":null,"body":"Husband really enjoyed this gift for our first wedding anniversary!","is_anonymous":null,"channel_code":null,"channel_url":null,"channel":null,"is_from_supplier":null,"external_id":"596c32c8da23d5b49b88f2fa51cc5f7348791c92eda90686d0b2726e66f90e73","site_front_url":"https://bestself.co/products/intimacy-deck?fera=showReview&feraId=frev_vA8JPvc&utm_source=fera","store_reply":null,"counts":{"media":0,"photos":0,"videos":0},"product":{"id":"fpro_ISh7Ziop","external_id":"3936470696005","name":"Intimacy Deck","url":"https://bestself.co/products/intimacy-deck","handle":"intimacy-deck","thumbnail_url":"https://cdn.shopify.com/s/files/1/1015/4487/files/intimacy-deck-card-deck-romantic-connection-580728_150x150.jpg?v=1732151299","rating":{"average":4.8,"count":870,"counts":[13,18,19,53,767]},"counts":{"reviews":870,"media":0,"photos":0,"videos":0},"is_visible":true,"tags":["BYOB","Conversation Decks","Deepening Connection","Romantic Relationships","Tier A"]},"customer":{"id":null,"display_name":"Megan","is_anonymous":false,"display_location":"Boardman, Oregon, United States","avatar_url":"https://people.pic1.co/api/public/avatars/533479533950333133334a33644f31364f7536307555634e327742586a427437585a535866766f755659374962382f374d386c6c6b513d","default_avatar_url":"https://people.pic1.co/api/public/avatars/533479533950333133334a33644f31364f7536307555634e327742586a427437585a535866766f755659374962382f374d386c6c6b513d","rating":{"count":1,"average":5},"channel":null,"is_verified":false,"is_from_supplier":false,"company_name":null,"counts":{"reviews":1,"average_rating":5,"media":0},"created_at":"2024-01-19T23:53:46.000+00:00","updated_at":"2024-09-27T00:12:40.001+00:00"},"media":[]}},{"json":{"id":"frev_vA8Oc5o","subject":"product","is_verified":null,"is_test":null,"external_product_id":"3936470696005","product_id":"fpro_ISh7Ziop","created_at":"2024-01-16T02:44:03.000Z","updated_at":"2024-09-27T00:12:40.634Z","rating":5,"heading":null,"body":"Love, my boyfriend and I connect with each other on a deeper level","is_anonymous":null,"channel_code":null,"channel_url":null,"channel":null,"is_from_supplier":null,"external_id":"f11351fd830741f9179ae021a78a3a0b7893509802af7cceba7e118c5f7d9022","site_front_url":"https://bestself.co/products/intimacy-deck?fera=showReview&feraId=frev_vA8Oc5o&utm_source=fera","store_reply":null,"counts":{"media":0,"photos":0,"videos":0},"product":{"id":"fpro_ISh7Ziop","external_id":"3936470696005","name":"Intimacy Deck","url":"https://bestself.co/products/intimacy-deck","handle":"intimacy-deck","thumbnail_url":"https://cdn.shopify.com/s/files/1/1015/4487/files/intimacy-deck-card-deck-romantic-connection-580728_150x150.jpg?v=1732151299","rating":{"average":4.8,"count":870,"counts":[13,18,19,53,767]},"counts":{"reviews":870,"media":0,"photos":0,"videos":0},"is_visible":true,"tags":["BYOB","Conversation Decks","Deepening Connection","Romantic Relationships","Tier A"]},"customer":{"id":null,"display_name":"Monique","is_anonymous":false,"display_location":"Boardman, Oregon, United States","avatar_url":"https://people.pic1.co/api/public/avatars/316a654979484d7351763875675078764d6951546d61354c75564c7a6f6747313950737549794b46636544323668304b7a5a786b71336235585a36536e6b4538","default_avatar_url":"https://people.pic1.co/api/public/avatars/316a654979484d7351763875675078764d6951546d61354c75564c7a6f6747313950737549794b46636544323668304b7a5a786b71336235585a36536e6b4538","rating":{"count":1,"average":5},"channel":null,"is_verified":false,"is_from_supplier":false,"company_name":null,"counts":{"reviews":1,"average_rating":5,"media":0},"created_at":"2024-01-16T02:44:03.000+00:00","updated_at":"2024-09-27T00:12:40.634+00:00"},"media":[]}},{"json":{"id":"frev_vA8XH28","subject":"product","is_verified":null,"is_test":null,"external_product_id":"3936470696005","product_id":"fpro_ISh7Ziop","created_at":"2024-01-08T22:21:10.000Z","updated_at":"2024-09-27T00:12:41.416Z","rating":5,"heading":"A lot of fun!","body":"I cannot wait to try this my SO someday. 💙","is_anonymous":0,"channel_code":null,"channel_url":null,"channel":null,"is_from_supplier":null,"external_id":"3a866703a897f50c70753d6c76b68ddac6a37072dbe25876f4f022a325b4c8dd","site_front_url":"https://bestself.co/products/intimacy-deck?fera=showReview&feraId=frev_vA8XH28&utm_source=fera","store_reply":null,"counts":{"media":0,"photos":0,"videos":0},"product":{"id":"fpro_ISh7Ziop","external_id":"3936470696005","name":"Intimacy Deck","url":"https://bestself.co/products/intimacy-deck","handle":"intimacy-deck","thumbnail_url":"https://cdn.shopify.com/s/files/1/1015/4487/files/intimacy-deck-card-deck-romantic-connection-580728_150x150.jpg?v=1732151299","rating":{"average":4.8,"count":870,"counts":[13,18,19,53,767]},"counts":{"reviews":870,"media":0,"photos":0,"videos":0},"is_visible":true,"tags":["BYOB","Conversation Decks","Deepening Connection","Romantic Relationships","Tier A"]},"customer":{"id":null,"display_name":"Anonymous","is_anonymous":true,"display_location":"Brooklyn, New York, United States","avatar_url":"https://people.pic1.co/api/public/avatars/774b6a6e4a754f6b426e756877377068727967494d7a4f35374b2b5942394e64536e6f3554386d534f423448535868736f327569374665664842566449785a32","default_avatar_url":"https://people.pic1.co/api/public/avatars/774b6a6e4a754f6b426e756877377068727967494d7a4f35374b2b5942394e64536e6f3554386d534f423448535868736f327569374665664842566449785a32","rating":{"count":1,"average":5},"channel":null,"is_verified":false,"is_from_supplier":false,"company_name":null,"counts":{"reviews":1,"average_rating":5,"media":0},"created_at":"2024-01-08T22:21:10.000+00:00","updated_at":"2024-09-27T00:12:41.416+00:00"},"media":[]}},{"json":{"id":"frev_vA8Y8jA","subject":"product","is_verified":null,"is_test":null,"external_product_id":"3936470696005","product_id":"fpro_ISh7Ziop","created_at":"2024-01-08T22:14:49.000Z","updated_at":"2024-09-27T00:12:41.471Z","rating":5,"heading":null,"body":"Highly recommend! Improved my daily habits, helped me achieve my goals, and set a structure for my day. A bunch of extra space for reflection and weekly check-ins are super helpful. The paper is very good quality and the journal has survived much wear and tear. I will most definitely be re-ordering. One of a kind!","is_anonymous":0,"channel_code":null,"channel_url":null,"channel":null,"is_from_supplier":null,"external_id":"815fc06ac061e27eac5493588c90d903c8ec2078f34d36f09c1434f45657bec5","site_front_url":"https://bestself.co/products/intimacy-deck?fera=showReview&feraId=frev_vA8Y8jA&utm_source=fera","store_reply":null,"counts":{"media":0,"photos":0,"videos":0},"product":{"id":"fpro_ISh7Ziop","external_id":"3936470696005","name":"Intimacy Deck","url":"https://bestself.co/products/intimacy-deck","handle":"intimacy-deck","thumbnail_url":"https://cdn.shopify.com/s/files/1/1015/4487/files/intimacy-deck-card-deck-romantic-connection-580728_150x150.jpg?v=1732151299","rating":{"average":4.8,"count":870,"counts":[13,18,19,53,767]},"counts":{"reviews":870,"media":0,"photos":0,"videos":0},"is_visible":true,"tags":["BYOB","Conversation Decks","Deepening Connection","Romantic Relationships","Tier A"]},"customer":{"id":null,"display_name":"Anonymous","is_anonymous":true,"display_location":"Falls Church, Virginia, United States","avatar_url":"https://people.pic1.co/api/public/avatars/5573486a374c45724c514c68486b6a6e674830474132595846536461746851594474307463536866386a48465139346452702f4d6570474d3747474f7a5a7a4d","default_avatar_url":"https://people.pic1.co/api/public/avatars/5573486a374c45724c514c68486b6a6e674830474132595846536461746851594474307463536866386a48465139346452702f4d6570474d3747474f7a5a7a4d","rating":{"count":1,"average":5},"channel":null,"is_verified":false,"is_from_supplier":false,"company_name":null,"counts":{"reviews":1,"average_rating":5,"media":0},"created_at":"2024-01-08T22:14:49.000+00:00","updated_at":"2024-09-27T00:12:41.471+00:00"},"media":[]}}]},"versionId":"75253284-94e4-4d9b-ac85-9dee2c2be524","triggerCount":0,"tags":[{"createdAt":"2024-11-25T19:23:12.305Z","updatedAt":"2024-11-25T19:23:12.305Z","id":"ezNoiUnmEtRIw4er","name":"best-self"}]}